<!-- Maquetacion de la seccion de Gastos del Detalle de finanaciamiento del Proyecto -->
<!-- NAM|2019-05-29 -->

<nb-card>
  <nb-card-body>
    <div class="details">
      <div class="title">
        Gastos <img src="../../../../../../assets/icons/forms/payment-method_24.png" alt="">
      </div>

      <div class="description">
        <!-- No data Found image -->
        <div class="container6">
          <img src="../../../../../../../assets/icons/forms/no-search-result_teaser.png"
            alt="No se encotraron datos de Compromisos" *ngIf="showNoData == true">
        </div>

        <img src="../../../../../../../assets/images/loading.gif" *ngIf="showLoader == true"
          style="width: 20%; margin-left: 40%" alt="Cargando...">
        <table class="table table-striped table-hover" *ngIf="showLoader == false && showNoData == false">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col" nbPopover="Tipo de Transacción" nbPopoverMode="hint">Tipo</th>
              <th scope="col" nbPopover="Monto de la Transacción" nbPopoverMode="hint">Monto</th>
              <th scope="col" nbPopover="Moneda de la Transacción" nbPopoverMode="hint">Mon.</th>
              <th scope="col" nbPopover="Fecha de Transacción" nbPopoverMode="hint">Fecha</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            <!-- Datos de gastos -->
          </tbody>
        </table>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <a nbPopover="Selecciona la Meta del ODS" nbPopoverMode="hint">
      <i class="ion-flag"></i>
    </a>
    <a href="" target="_blanck" nbPopover="Ver Información del ODS " nbPopoverMode="hint">
      <i class="ion-help"></i>
    </a>
  </nb-card-footer>
</nb-card>
