<!-- Diseño de la Ventana de Espacio de Trabajo -->
<!-- ==================================================================================== -->
<!-- Componente para los Mensajes en pantalla -->
<toaster-container [toasterconfig]="config"></toaster-container>

<div class="modal-content">
  <nb-card accent="warning" status="primary">
    <nb-card-header>Nuevo Contacto
      <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </nb-card-header>

    <nb-card-body>
      <div class="row">
        <div class="col-lg-4">
          <nb-card>
            <nb-card-body>
                <strong><label>Elija un Tipo De Trato</label></strong>
                <div class="form-group">
                    <select name="idTratoIN" id="idTratoIN" ngControl="idTratoIN"
                      class="form-control" [(ngModel)]="_contactosModel1.idTratoIN" required>
                      <option *ngFor="let item of JsonReceptionTratos" [value]="item.idTrato">
                        {{item.descTrato}}</option>
                        </select>
                </div>
                <strong><label>Codigo del Contacto</label></strong>
                <div class="form-group">
                  <input #codigoContacto="ngModel" class="form-control" type="text"
                    placeholder="codigo del contacto" name="codigoContacto" id="codigoContacto"
                    ngControl="codigoContacto" [(ngModel)]="_contactosModel1.codigoContacto" disabled required />
                </div>
                <strong><label>Nombre del Contacto</label></strong>
                  <div class="form-group">
                    <input #nombreContacto="ngModel" class="form-control" type="text"
                      placeholder="Nombre del Contacto" name="nombreContacto" id="nombreContacto"
                      ngControl="nombreContacto" [(ngModel)]="_contactosModel1.nombreContacto" required />
                  </div>

                   <strong><label>Apellido del Contacto</label></strong>
                  <div class="form-group">
                    <input #apellidoContacto="ngModel" class="form-control" type="text"
                      placeholder="Apellido del Contacto" name="apellidoContacto" id="apellidoContacto"
                      ngControl="apellidoContacto" [(ngModel)]="_contactosModel1.apellidoContacto" required />
                  </div>

              <strong><label>Funcion del Contacto</label></strong>
              <div class="form-group">
                <input #funcionContacto="ngModel" class="form-control" type="text"
                  placeholder="Funcion del Contacto" name="funcionContacto" id="funcionContacto"
                  ngControl="funcionContacto" [(ngModel)]="_contactosModel1.funcionContacto" required />
              </div>

              <strong><label>Nombre de la Organizacion</label></strong>
              <div class="form-group">
                <input #organizacionContacto="ngModel" class="form-control" type="text"
                  placeholder="Nombre de la Organizacion" name="organizacionContacto" id="organizacionContacto"
                  ngControl="organizacionContacto" [(ngModel)]="_contactosModel1.organizacionContacto" required />
              </div>
            </nb-card-body>
          </nb-card>
        </div>

        <div class="col-lg-4">
            <nb-card>
                <nb-card-body>
                <strong><label>Direccion Fisica</label></strong>
                 <div class="form-group">
                    <textarea rows="3" #organizacionContacto="ngModel" placeholder="Direcion fisica Contacto" class="form-control"
                    name="dFisicaContacto" id="dFisicaContacto"
                        ngControl="dFisicaContacto" [(ngModel)]="_contactosModel1.dFisicaContacto" required></textarea>
                     </div>

               <strong><label>Email1 del contacto</label></strong>
               <div class="form-group">
                 <input #email1contacto="ngModel" class="form-control" type="text"
                   placeholder="Email del contacto" name="email1Contacto" id="email1Contacto"
                   ngControl="email1Contacto" [(ngModel)]="_contactosModel1.email1Contacto" required />
               </div>

               <strong><label>Email2 del contacto</label></strong>
               <div class="form-group">
                 <input #email2Contacto="ngModel" class="form-control" type="text"
                   placeholder="Email del contacto" name="email2Contacto" id="email2Contacto"
                   ngControl="email2Contacto" [(ngModel)]="_contactosModel1.email2Contacto" required />
               </div>

               <strong><label>Telefono1 del contacto</label></strong>
                  <div class="form-group">
                    <input #telefono1Contacto="ngModel" class="form-control" type="text"
                      placeholder="Telefono del contacto" name="telefono1Contacto" id="telefono1Contacto"
                      ngControl="telefono1Contacto" [(ngModel)]="_contactosModel1.telefono1Contacto" required />
                  </div>

                  <strong><label>Telefono2 del Contacto</label></strong>
                  <div class="form-group">
                    <input #telefono2Contacto="ngModel" class="form-control" type="text"
                      placeholder="Telefono del contacto" name="telefono2Contacto" id="telefono2Contacto"
                      ngControl="telefono2Contacto" [(ngModel)]="_contactosModel1.telefono2Contacto" required />
                  </div>
                </nb-card-body>
              </nb-card>
        </div>

        <div class="col-lg-4">
            <nb-card>
              <nb-card-body>
                 <strong><label>Extencion1 del contacto</label></strong>
                 <div class="form-group">
                   <input #ext1Contacto="ngModel" class="form-control" type="text"
                     placeholder="Extencion del contacto" name="ext1Contacto" id="ext1Contacto"
                     ngControl="ext1Contacto" [(ngModel)]="_contactosModel1.ext1Contacto" required />
                 </div>

                 <strong><label>Extencion2 del contacto</label></strong>
                 <div class="form-group">
                   <input #ext2Contacto="ngModel" class="form-control" type="text"
                     placeholder="Extencion del contacto" name="ext2Contacto" id="ext2Contacto"
                     ngControl="ext2Contacto" [(ngModel)]="_contactosModel1.ext2Contacto" required />
                 </div>

                 <strong><label>Elija una Organizacion</label></strong>
                 <div class="form-group">
                     <select name="idOrgIN" id="idOrgIN" ngControl="idOrgIN"
                       class="form-control" [(ngModel)]="_contactosModel1.idOrgIN" required>
                       <option *ngFor="let item of JsonReceptionOrg" [value]="item.idOrganizacion">
                         {{item.descOrganizacion}}</option>
                         </select>
                 </div><br>

        </nb-card-body>
            </nb-card>
            <div class="modal-footer">
                <button type="button" (click)="newOrganizacion()" class="btn btn-primary">Guardar Contacto</button>
                <button type="button" (Click)="closeModal()" class="btn btn-danger">Cerrar</button>
              </div>
          </div>

      </div>
    </nb-card-body>
  </nb-card>

</div>
