<!-- Diseño de la Ventana de Compromisos -->
<!-- ==================================================================================== -->
<!-- ==================================================================================== -->
<toaster-container [toasterconfig]="config"></toaster-container>

<p-confirmDialog></p-confirmDialog>

<div class="modal-content">
  <div>
    <nb-card accent="warning" status="primary">
      <nb-card-header>Resgistro de compromisos del Proyecto | {{ modalHeaderIdActividadFinancDet }}
        <button class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </nb-card-header>
      <nb-card-body>
        <br>
        <div class="row" style=" width: 100%; padding-left: 20px">
          <div class="col-sm-6 col-md-3">
            <div class="form-group">
              <strong> <label>Tipo de Transacción</label> </strong>
              <select class="form-control">
                <option value="0">**** Selecciona el Tipo Transacción ****</option>
              </select>
            </div>
          </div>

          <div class="col-sm-6 col-md-3">
            <div class="form-group">
              <strong> <label>Monto de Compromisos</label> </strong>
              <input class="form-control" currencyMask required [options]="{ prefix: '', thousands: ',', decimal: '.' }"
                name="montoActividad" placeholder="0.00" required />
            </div>
          </div>

          <div class="col-sm-6 col-md-3">
            <div class="form-group">
              <strong> <label>Moneda</label> </strong>
              <select class="form-control">
                <option value="0">**** Selecciona la Moneda ****</option>
              </select>
            </div>
          </div>

          <div class="col-sm-6 col-md-3">
            <div class="form-group">
              <strong> <label>Fecha de Transacción</label> </strong>
              <p-calendar [inline]="false" class="form-control" [inputStyle]="{'width':'80%'}" [showIcon]="true"
                dateFormat="dd/mm/yy" (click)="showDialog()" [locale]="es" required name="fechaTransaccion">
              </p-calendar>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="modal-footer">
    <div class="col-sm-3 col-md-2">
      <div class="btn-group">
        <button type="button" class="btn btn-primary btn-group-icon btn-group-divider botonSave">
          <i class="ion-archive"></i>
        </button>
        <button type="button" class="btn btn-primary botonSave"
          (click)="saveFinanciamientoEncService()">Guardar</button>
      </div>
    </div>

    <div class="col-sm-3 col-md-2">
      <div class="btn-group">
        <button type="button" class="btn btn-warning btn-group-icon btn-group-divider">
          <i class="ion-trash-a"></i>
        </button>
        <button type="button" class="btn btn-warning" (click)="cleanForm()">Limpiar</button>
      </div>
    </div>

    <div class="col-sm-3 col-md-2">
      <div class="btn-group">
        <button type="button" class="btn btn-danger btn-group-icon btn-group-divider">
          <i class="ion-backspace"></i>
        </button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Ventana Modal de la fecha de Transacción -->
<p-dialog header="Fecha de Transacción" [(visible)]="display" [modal]="true">
  <div class="col-md-2">
    <!-- <h3>Navigators</h3> -->
    <p-calendar [inline]="true" [showIcon]="false" [monthNavigator]="true" [yearNavigator]="true"
      yearRange="2000:2030" (dblclick)="closeDialog()" dateFormat="dd/mm/yy" [locale]="es"></p-calendar>
  </div>
</p-dialog>
