<!-- Maquetacion del Encabezado del Financiamiento del Proyecto -->
<!-- Componente para los Mensajes en pantalla -->
<toaster-container [toasterconfig]="config"></toaster-container>
<!-- ==================================================================================== -->
<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Detalle del Financiamiento del Proyecto</nb-card-header>
      <nb-card-body>
        <!-- <h4>Monto Presupuestario del Proyecto</h4> -->
        <form class="form-inline">
          <input type="text" class="form-control full-width" placeholder="Jane Doe">
          <div class="input-group full-width">
            <div class="input-group-addon">@</div>
            <input type="text" class="form-control" placeholder="Email">
          </div>
          <nb-checkbox>Remember me</nb-checkbox>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <!-- Agrupacion de la Informacion de Compromisos de Financiamiento -->
        <p-fieldset [toggleable]="true">
          <p-header class="fieldsetEnca">Compromisos</p-header>
          <nb-card accent="warning" status="primary">
            <nb-card-body>
              <div class="row">
                <div class="col-sm-6">
                  <!-- ================ Detalle Financiamiento | Compromisos ==================== -->
                  <ngx-financ-detalle-compromisos>
                  </ngx-financ-detalle-compromisos>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </p-fieldset>
        <br><br>

        <!-- Agrupacion de la Informacion de Desembolsos de Financiamiento -->
        <p-fieldset [toggleable]="true">
          <p-header class="fieldsetEnca">Desembolsos</p-header>
          <nb-card accent="warning" status="primary">
            <nb-card-body>
              <div class="row">
                <div class="col-sm-6">
                  <!-- ================ Detalle Financiamiento | Compromisos ==================== -->
                  <ngx-financ-detalle-desembolsos>
                  </ngx-financ-detalle-desembolsos>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </p-fieldset>
        <br><br>

      </nb-card-body>
    </nb-card>
  </div>
</div>
