<!-- Maquetacion del Encabezado del Financiamiento del Proyecto -->
<!-- Componente para los Mensajes en pantalla -->
<toaster-container [toasterconfig]="config"></toaster-container>

<!-- ==================================================================================== -->
<nb-card>
  <nb-card-header>Detalle del Financiamiento del Proyecto</nb-card-header>
  <nb-card-body>
    <!-- Acordeones formados por el numero de Socios al Desarrollo -->
    <p-accordion *ngFor="let item of JsonReceptionAllSocioDesarrollo" [multiple]="true">
      <p-accordionTab header="{{ item.idOrganizacion.descOrganizacion }}: {{ item.idOrganizacion.nombreOrganizacion }}">
        <!-- Socio al Desarrollo: {{ item.idOrganizacion.idOrganizacion }} -->

        <nb-card>
          <nb-card-header>
            Clasificación de Financiamiento
          </nb-card-header>
          <nb-card-body>

            <div class="row" style=" width: 100%; padding-left: 20px">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col" nbPopover="Tipo de Transacción" nbPopoverMode="hint">Tipo de Financiamiento</th>
                    <th scope="col" nbPopover="Moneda de la Transacción" nbPopoverMode="hint">Modalidad de Ayuda</th>
                    <th scope="col" nbPopover="Monto de la Transacción" nbPopoverMode="hint">Organización Financiaera
                    </th>
                    <th scope="col">Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Tipo de Financiamiento</td>
                    <td>Modalidad de Ayuda</td>
                    <td>Organización Financiaera</td>
                    <td style="text-align: center;">
                      <img class="accButton" src="../../../../../../assets/icons/forms/pencil-striped-symbol_16.png"
                        nbPopover="Editar Compromiso" nbPopoverMode="hint" alt="Editar" (click)="showDialog(itemCompromisos.idActividadFinancDetCompromiso, itemCompromisos.idTipoTransaccion,
                              itemCompromisos.montoCompromiso, itemCompromisos.idMoneda, itemCompromisos.fechaTransaccion,
                              itemCompromisos.codigoFinancCompromiso)">
                      <img class="accButton" src="../../../../../../assets/icons/forms/rubbish-bin_16.png"
                        nbPopover="Eliminar Compromiso" nbPopoverMode="hint" alt="Eliminar"
                        (click)="confirm(itemCompromisos.codigoFinancCompromiso)"></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <br>
            <div class="row" style=" width: 100%; padding-left: 20px">
              <div class="col-sm-6 col-md-3">
                <div class="form-group">
                  <strong> <label>Tipo de Financiamiento</label> </strong>
                  <select class="form-control" #idTipoFinanciamientoSend="ngModel" name="idTipoFinanciamientoSend"
                    id="idTipoFinanciamientoSend" required
                    [(ngModel)]="_activityFinanciamientoDetModel.idTipoFinanciamientoSend">
                    <option value="0">**** Selecciona el Tipo Financiamiento ****</option>
                    <option *ngFor="let item of JsonReceptionAllTipoFinanciamiento" [value]="item.idTipoFinanciamiento">
                      {{item.nombreTipoFinanciamiento}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-sm-6 col-md-4">
                <div class="form-group">
                  <strong> <label>Modalidad de Ayuda</label> </strong>
                  <select class="form-control" #idModalidadAyudaSend="ngModel" name="idModalidadAyudaSend"
                    id="idModalidadAyudaSend" required
                    [(ngModel)]="_activityFinanciamientoDetModel.idModalidadAyudaSend">
                    <option value="0">**** Selecciona la Modalidad de Ayuda ****</option>
                    <option *ngFor="let item of JsonReceptionAllModalidadAyuda" [value]="item.idModalidadAyuda">
                      {{item.nombreModalidadAyuda}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-sm-6 col-md-3">
                <div class="form-group">
                  <strong> <label>Id Organización Financiera</label> </strong>
                  <input type="text" class="form-control" pInputText pKeyFilter="hex"
                    placeholder="Id Organización Financiera"
                    [(ngModel)]="_activityFinanciamientoDetModel.idOrganizacionFinanciera"
                    #idOrganizacionFinanciera="ngModel">
                </div>
              </div>

              <div class="col-sm-6 col-md-2">
                <br>
                <div class="icon-button-examples">
                  <!-- Boton de Calcular Porcentajes -->
                  <button type="button" class="btn btn-outline-danger btn-icon"
                    nbPopover="Limpia la Clasificación de Financiamiento" nbPopoverMode="hint" nbPopoverPlacement="top"
                    (click)="cleanForm()">
                    <i class="ion-trash-a"></i>
                  </button>

                  <!-- Boton para Grabar Organizaciones  -->
                  <button type="button" class="btn btn-outline-primary btn-icon"
                    nbPopover="Registra la Clasificación de Financiamiento" nbPopoverMode="hint"
                    nbPopoverPlacement="top" (click)="saveFinanciamientoDetService(item.idOrganizacion.idOrganizacion)">
                    <i class="ion-upload"></i>
                  </button>
                </div>
              </div>

            </div>
          </nb-card-body>
        </nb-card>


        <div class="row">
          <!-- Tarjeta para los Comprimisos -->
          <div class="col-sm-4 col-md-4">
            <ngx-financ-detalle-compromisos [idProyectoTab]="idProyectoTab" [idUsuarioTab]="idUsuarioTab"
              [codigoProyectoTab]="codigoProyectoTab" [idActividadFinancDet]="idActividadFinancDet">
            </ngx-financ-detalle-compromisos>
          </div>

          <!-- Tarjeta para los Desembolsos -->
          <div class="col-sm-4 col-md-4">
            <ngx-financ-detalle-desembolsos></ngx-financ-detalle-desembolsos>
          </div>

          <!-- Tarjeta para los Gastos -->
          <div class="col-sm-4 col-md-4">
            <ngx-financ-detalle-gastos></ngx-financ-detalle-gastos>
          </div>
        </div>
      </p-accordionTab>
      <hr style="width: 90%; background-color:#ccc">
    </p-accordion>
  </nb-card-body>
</nb-card>
