<!-- Maquetacion del Encabezado del Financiamiento del Proyecto -->
<!-- Componente para los Mensajes en pantalla -->
<toaster-container [toasterconfig]="config"></toaster-container>

<!-- ==================================================================================== -->
<nb-card>
  <nb-card-header>Detalle del Financiamiento del Proyecto</nb-card-header>
  <nb-card-body>
    <!-- Acordeones formados por el numero de Socios al Desarrollo -->
    <p-accordion *ngFor="let item of JsonReceptionNew; let i = index" [multiple]="true">
      <hr style="width: 90%; background-color:#ccc">

      <p-accordionTab header="No. {{ i + 1 }} | {{ item.descOrganizacion }}: {{ item.nombreOrganizacion }}">
        <!-- Socio al Desarrollo: {{ item.idOrganizacion.idOrganizacion }} -->
        <div style="text-align:left">
          <button type="button" pButton icon="fa fa-plus" (click)="showDialogAddTo()"
            label="Agregar Financiamiento"></button>
        </div>
        <br>

        <!-- INI | Visualizacion de Clasificación de Financiamiento -->
        <!-- =============================================================================== -->
        <nb-card *ngFor="let itemClassFinanc of JsonReceptionNew.financiamientoDet; let j = index">
          <nb-card-header>
              {{ j + 1 }} - Clasificación de Financiamiento: {{ itemClassFinanc.codigoFinancDet }}
          </nb-card-header>
          <nb-card-body>
            <br>

            <div class="row" style=" width: 100%; padding-left: 10px">
              <div class="col-sm-6 col-md-3">
                <div class="form-group">
                  <strong> <label>Tipo de Financiamiento</label> </strong>
                  <input type="text" class="form-control" pInputText pKeyFilter="hex"
                    placeholder="Tipo de Financiamiento" disabled
                    value="{{ itemClassFinanc.descripcionModalidadAyuda }}">
                </div>
              </div>

              <div class="col-sm-6 col-md-4">
                <div class="form-group">
                  <strong> <label>Modalidad de Ayuda</label> </strong>
                  <input type="text" class="form-control" pInputText disabled pKeyFilter="hex"
                    placeholder="Modalidad de Ayuda"
                    value="{{ itemClassFinanc.descripcionTipoFinanciamiento }}">
                </div>
              </div>

              <div class="col-sm-6 col-md-3">
                <div class="form-group">
                  <strong> <label>Id Organización Financiera</label> </strong>
                  <input type="text" class="form-control" pInputText pKeyFilter="hex"
                    placeholder="Id Organización Financiera" disabled
                    value="{{ itemClassFinanc.idOrganizacionFinanciera }}">
                </div>
              </div>

              <div class="col-sm-6 col-md-2">
                <br>
                <div class="icon-button-examples">
                  <!-- Boton de Calcular Porcentajes -->
                  <button type="button" class="btn btn-outline-danger btn-icon"
                    nbPopover="Limpia la Clasificación de Financiamiento" nbPopoverMode="hint" nbPopoverPlacement="top"
                    (click)="cleanForm()">
                    <i class="ion-trash-a"></i>
                  </button>

                  <!-- Boton para Grabar Organizaciones  -->
                  <button type="button" class="btn btn-outline-primary btn-icon"
                    nbPopover="Registra la Clasificación de Financiamiento" nbPopoverMode="hint"
                    nbPopoverPlacement="top" (click)="saveFinanciamientoDetService(item.idOrganizacion.idOrganizacion)">
                    <i class="ion-upload"></i>
                  </button>
                </div>
              </div>
            </div>

            <!-- =============================================================================== -->
            <!-- INI | Visualizacion de los Comprimisos, Desembolsos y Gastos del Financiamiento -->
            <div class="row" style=" width: 100%; padding-left: 10px">
              <!-- *ngIf="JsonReceptionDetalleFinanciamientoBySocioDesarrollo0.length !== 0"> -->
              <!-- Tarjeta para los Comprimisos -->
              <div class="col-sm-4 col-md-4">
                <ngx-financ-detalle-compromisos [idProyectoTab]="idProyectoTab" [idUsuarioTab]="idUsuarioTab"
                  [codigoProyectoTab]="codigoProyectoTab" [idActividadFinancDet]="idActividadFinancDet">
                </ngx-financ-detalle-compromisos>
              </div>

              <!-- Tarjeta para los Desembolsos -->
              <div class="col-sm-4 col-md-4">
                <ngx-financ-detalle-desembolsos></ngx-financ-detalle-desembolsos>
              </div>

              <!-- Tarjeta para los Gastos -->
              <div class="col-sm-4 col-md-4">
                <ngx-financ-detalle-gastos></ngx-financ-detalle-gastos>
              </div>
            </div>
            <!-- FIN | Visualizacion de los Comprimisos, Desembolsos y Gastos del Financiamiento -->
            <!-- =============================================================================== -->

          </nb-card-body>
        </nb-card>
        <!-- FIN | Visualizacion de Clasificación de Financiamiento -->
        <!-- =============================================================================== -->
      </p-accordionTab>

      <!-- ====================================================================================================== -->
      <!-- INI | Formulario Modal de Clasificacion de Financiamiento -->
      <p-dialog [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="300">
        <p-header>
          Clasificación de Financiamiento
        </p-header>
        <div class="ui-g ui-fluid">
          <div class="col-sm-12 col-md-12">
            <div class="form-group">
              <strong> <label>Tipo de Financiamiento</label> </strong>
              <select class="form-control" #idTipoFinanciamientoSend="ngModel" name="idTipoFinanciamientoSend"
                id="idTipoFinanciamientoSend" required
                [(ngModel)]="_activityFinanciamientoDetModel.idTipoFinanciamientoSend">
                <option value="0">**** Selecciona el Tipo Financiamiento ****</option>
                <option *ngFor="let item of JsonReceptionAllTipoFinanciamiento" [value]="item.idTipoFinanciamiento">
                  {{item.nombreTipoFinanciamiento}}
                </option>
              </select>
            </div>
          </div>

          <div class="col-sm-12 col-md-12">
            <div class="form-group">
              <strong> <label>Modalidad de Ayuda</label> </strong>
              <select class="form-control" #idModalidadAyudaSend="ngModel" name="idModalidadAyudaSend"
                id="idModalidadAyudaSend" required [(ngModel)]="_activityFinanciamientoDetModel.idModalidadAyudaSend">
                <option value="0">**** Selecciona la Modalidad de Ayuda ****</option>
                <option *ngFor="let item of JsonReceptionAllModalidadAyuda" [value]="item.idModalidadAyuda">
                  {{item.nombreModalidadAyuda}}
                </option>
              </select>
            </div>
          </div>

          <div class="col-sm-12 col-md-12">
            <div class="form-group">
              <strong> <label>Id Organización Financiera</label> </strong>
              <input type="text" class="form-control" pInputText pKeyFilter="hex"
                placeholder="Id Organización Financiera"
                [(ngModel)]="_activityFinanciamientoDetModel.idOrganizacionFinanciera"
                #idOrganizacionFinanciera="ngModel">
            </div>
          </div>
        </div>
        <p-footer>
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-close" class="ui-button-danger" (click)="delete()"
              label="Borrar"></button>
            <button type="button" pButton icon="fa fa-check"
              (click)="saveFinanciamientoDetService(item.idOrganizacion.idOrganizacion)" label="Guardar"></button>
          </div>
        </p-footer>
      </p-dialog>
      <!-- FIN | Formulario Modal de Clasificacion de Financiamiento -->
      <!-- ====================================================================================================== -->
    </p-accordion>
  </nb-card-body>
</nb-card>
