<!-- Area de Donde esta Ubicado el Usuario -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/pages/dashboard">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="./">Mantenimientos</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/pages/mantenimientos/mant-seguridad">Espacios</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="./">Mantenimiento de espacios de trabajo</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Creacion de Espacios de Trabajo</li>
  </ol>
</nav>

<!-- ==================================================================================== -->
<!-- Componente para los Mensajes en pantalla -->
<!-- <toaster-container [toasterconfig]="config"></toaster-container>-->

<div class="row">
  <div class="col-md-12 col-lg-12">
    <nb-card>
      <nb-tabset>
        <!-- Area de la estructura del primer tab donde se crean los espacios de trabajo-->
        <nb-tab tabTitle="Creacion de Espacios de Trabajo">
          <div class="row">
            <div class="col-lg-6">
              <nb-card>
                <nb-card-body>
                  <div class="row full-name-inputs">
                    <div class="col-sm-6 input-group">
                      <input type="text" placeholder="Codigo Espacio Trabajo" class="form-control" name="codigotrabajo" id="codigotrabajo"
                        [(ngModel)]="_espaciostrabajoModel.codEspacioTrabajo" required />
                    </div>
                    <div class="col-sm-6 input-group">
                      <input type="text" placeholder="Nombre Espacio Trabajo" class="form-control" name="codUsuario" id="codUsuario"
                      [(ngModel)]="_espaciostrabajoModel.nombreEspacioTrabajo"  required />
                    </div>
                  </div>
                  <div class="input-group">
                    <input type="text" placeholder="Descripcion Espacio Trabajo" class="form-control" name="codUsuario"
                      id="codUsuario" [(ngModel)]="_espaciostrabajoModel.descripcionEspacioTrabajo" required />
                  </div>
                  <div class="form-group">
                    <strong> <label>Seleccione un Estado</label> </strong>
                    <select class="form-control" name="idEstado" id="idEstado" ngControl="idEstado"  [(ngModel)]="_espaciostrabajoModel.idEstadoIN" required>
                      <option value="0">Seleccione una Opcion</option>
                      <option *ngFor="let item of JsonReceptionEstados" [value]="item.idEstado">
                        {{item.descEstado}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <strong> <label>Seleccione un Tipo</label> </strong>
                    <select class="form-control" [(ngModel)]="_espaciostrabajoModel.idTipoIN" ngControl="idTipoIN" required>
                      <option value="0">Seleccione una Opcion</option>
                      <option *ngFor="let item of JsonReceptionTipo" [value]="item.idTipo">
                        {{item.descTipo}}
                      </option>
                    </select>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
            <div class="col-lg-6">
              <nb-card>
                <nb-card-body>
                  <div class="form-control">
                    <div class="row demo-checkboxes-radio">
                      <div class="demo-checkboxes col-sm-6">
                        <nb-checkbox [value]="false">Vista Publica</nb-checkbox>
                      </div>
                      <div class="demo-checkboxes col-sm-6">
                        <nb-checkbox>Espacio Padre</nb-checkbox>
                      </div>
                    </div>
                  </div>
                  <div class="form-control">
                    <div class="form-group">
                      <strong> <label>Seleccione un País</label> </strong>
                      <angular2-multiselect [data]="dropdownListPais" [(ngModel)]="selectedItemsPais"
                      [settings]="dropdownSettings" (onSelect)="onItemSlectPais($event)" ngControl="idPaisIN" required></angular2-multiselect>
                    </div>
                  </div><br>
                  <div class="btn-group">
                    <button type="button" (click)="newEspacioTrabajo()" class="btn btn-primary">Guardar</button>
                    <button type="button" (Click)="cleanEspaciosTrabajos()" class="btn btn-warning">Cancelar</button>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </nb-tab>
        <!-- Comienzo de estructura del tab dos donde se consultan los espacios de trabajo -->
        <nb-tab tabTitle="Mantenimiento/Consultar">
          <div class="col-lg-12">
            <nb-card>
              <nb-card-body>
                <table class="table table-hover table-striped table-bordered" id="tableIdInterna">
                  <thead>
                    <tr class="tHeadSearch">
                        <th scope="col" colspan="5">
                            <input type="text" class="form-control" [(ngModel)]="queryString"
                              placeholder="Buscar espacio trabajo :">
                          </th>
                    </tr>
                    <tr class="tHeadTable">
                      <th scope="col" style="width: 5%;">No</th>
                      <th scope="col" style="width: 10%;">Codigo</th>
                      <th scope="col" style="width: 15%;">Espacio de Trabajo</th>
                      <th scope="col" style="width: 15%;">Descripcion del Espacio</th>
                      <th scope="col" style="width: 15%;">Tipo de Organización</th>
                      <th scope="col" style="width: 15%;">País de Organización</th>
                      <th scope="col" style="width: 15%;">Estado</th>
                      <th scope="col" style="width: 40%;">Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                   <tr
                        *ngFor="let item of JsonReceptionListEspacioTrabajo | filterdata: queryString : 'nombreEspacioTrabajo'  | paginate: { itemsPerPage: 6, currentPage: p };let homeTableIndex = index">
                        <td>{{ homeTableIndex + 1 }}</td>
                        <td>{{item.codEspacioTrabajo}}</td>
                        <td>{{item.nombreEspacioTrabajo}}</td>
                        <td>{{item.descripcionEspacioTrabajo}}</td>
                        <td>{{item.idTipoEspacioTrabajo.descTipo}}</td>
                        <td>{{item.idPais.descPais}}</td>
                        <td>{{item.idEstadoEspacioTrabajo.descEstado}}</td>
                        <td>
                          <img (click)="showLargeModal(item.idEspacioTrabajo)" class="pointerMouse"
                              src="../../../../assets/icons/forms/pencil-striped-symbol_24.png" alt="">
                              <img (click)="deleteOrganizacion(item.idEspacioTrabajo)" class="pointerMouse"
                              src="../../../../assets/icons/forms/rubbish-bin_24x.png" alt=""><img alt="">
                          </td>
                     </tr>
                  </tbody>
                </table>
                 <!-- paginador de la tabla -->
                 <pagination-controls autoHide="true" responsive="true" previousLabel="Anterior" nextLabel="Siguiente"
                 (pageChange)="p = $event"></pagination-controls>
              </nb-card-body>
            </nb-card>
          </div>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>
