@import '../../../../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import '~angular2-multiselect-dropdown/themes/default.theme.css';

$color-loader: #9aa0a5;

/deep/ nb-card.popover-card {
  margin-bottom: 0;
  width: 300px;
  box-shadow: none;
}

:host {
  button.with-margins {
    @include nb-ltr(margin, 0 0.75rem 2rem 0);
    @include nb-rtl(margin, 0 0 2rem 0.75rem);
  }

  /deep/ .btn-outline-secondary {
    @include nb-ltr(margin, 0 0.5rem 0.5rem 0);
    @include nb-rtl(margin, 0 0 0.5rem 0.5rem);
  }
}

@include nb-install-component() {
  nb-tabset {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  nb-tab {
    padding: nb-theme(padding);
  }

  /deep/ ngx-tab1,
  /deep/ ngx-tab2 {
    display: block;
    padding: nb-theme(padding);
  }

  @include media-breakpoint-down(xs) {
    nb-tabset /deep/ul {
      font-size: 1rem;
      padding: 0 0.25rem;
    }
  }

  .full-width {
    flex: 1;
    min-width: 220px;
  }

  nb-checkbox {
    margin-bottom: 1rem;
  }

  .form-inline>* {
    @include nb-ltr(margin, 0 1.5rem 1.5rem 0);
    @include nb-rtl(margin, 0 0 1.5rem 1.5rem);
  }

  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }

  nb-card-header {
    background-color: #e9e9e9;
    color: #495057;
    font-size: 17px;
    font-weight: bold;
  }

  btn-nam {
    background-color: #204f85;
    color: rgb(243, 239, 233);
    font-size: 15px;
  }

  /* Validaciones de los Campos */
  .ng-valid[required] {
    border-left: 5px solid #42a948;
    /* green */
  }

  .ng-invalid.ng-touched:not(form) {
    border-left: 5px solid #a94442 !important;
    /* red */
    border-color: #a94442 !important;
    /* red */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(169, 68, 66, 0.6) !important;
  }

  .input-group.has-person-icon {
    position: relative;

    .form-control {

      padding-left: 3rem;
    }

    &::before {
      content: '\F47D';
      font-family: 'Ionicons';
      font-size: 2rem;
      position: absolute;
      z-index: 100;
      left: 1rem;
      top: 0.25rem;
    }
  }

  // Smart table style
  .ng2-smart-filter select {
    height: calc(2rem + 4px) !important;
    padding: 0 10px !important;
  }

  table-cell-default-editor select-editor select {
    height: calc(2rem + 8px) !important;
    padding: 0 10px !important;
  }

  // Estilos de Botones
  .botonSpecial {
    background-color: #204f85;
    margin-left: 2px;
  }

  .botonSave {
    background-color: #204f85;
    cursor: pointer;
  }

  .botonSave:hover {
    background-color: #1f6abe;
    cursor: pointer;
  }

  .pointerMouse {
    cursor: pointer;
  }

  // Tablas
  .tHeadTable {
    height: 50px;
  }

  .tHeadSearch {
    border: none;
  }

  // Clase de Select Local
  .comboSea {
    height: calc(2rem + 20px);
    width: 100%;
    display: block;
    // padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #dadfe6;
    border-radius: 0.25rem;
    border-color: #dadfe6;
    transition: border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
  }

  .custom-class-example {
    color: #ccc;
  }

  .custom-class-example .c-token {
    background: #38d574 !important;
  }

  .custom-class-example .pure-checkbox label::before {
    border-color: #38d574 !important;
  }

  /* Estilo para la Carga de Pantalla Completa */
  .loader-new {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background: rgb(230, 232, 233);
    opacity: 0.8;
  }

  .imgload {
    margin-left: 40%;
    margin-top: 20%;
  }

  .loader {
    width: 350px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 150%;
    left: 40%;
    transform: translate(-50% -50%);
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: $color-loader;
    letter-spacing: 0.2em;
    z-index: 9999;

    &::before,
    &::after {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      background: $color-loader;
      position: absolute;
      animation: load 0.7s infinite alternate ease-in-out;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  .fieldsetHand {
    cursor: pointer;
  }

  .txtSearch {
    width: 100%;
  }

  .fieldSet {
    background: #204f85;
  }

  .fieldsetEnca {
    font-size: 1.25rem;
    color: #495057;
    font-weight: bold;
  }

  // tarjetas de Comprmisos
  nb-card-body {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .picture {
    background-position: center;
    background-size: cover;
    position: relative;
    border-top-left-radius: nb-theme(card-border-radius);
    border-top-right-radius: nb-theme(card-border-radius);
    flex: 1;
  }

  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }

  // nb-card-header {
  //   background-color: #204f85;
  //   color: rgb(255, 255, 255);
  //   font-size: 17px;
  // }

  btn-nam {
    background-color: #204f85;
    color: rgb(243, 239, 233);
    font-size: 15px;
  }

  .details {
    padding: 1.25rem 0.25rem 0;

    .title {
      font-family: nb-theme(font-secondary);
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(color-fg-heading);
      font-size: 1.5rem;
      margin-bottom: 1rem;

      @include nb-for-theme(cosmic) {
        font-weight: nb-theme(font-weight-bolder);
      }
    }

    .description {
      text-align: justify;
      color: nb-theme(color-fg-text);
      font-weight: nb-theme(font-weight-light);

      overflow: auto;
      text-overflow: ellipsis;
      max-height: calc(1rem * 20 * #{nb-theme(line-height)});
    }
  }

  nb-card-footer {
    display: flex;
    justify-content: space-around;
    padding: 0.75rem 0;
    border: none;

    a {
      text-decoration: none;
      color: nb-theme(color-fg);

      &:hover {
        color: nb-theme(color-fg-heading);
      }

      i {
        font-size: 1.75rem;
      }
    }
  }

  nb-card-front {
    border: solid black 1px;
  }

  // Acciones
  .accButton {
    cursor: pointer;
  }
}
