<div class="row">
  <!-- Tarjeta para el Mantenimiento de Usuarios -->
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <!-- <nb-card size="medium"> -->
    <nb-card>
      <nb-card-body>
        <!-- <div class="picture" style.background-image="url('../../../../assets/images/kitten-{{currentTheme}}.png')"></div> -->
        <div class="details">
          <div class="title">
            Tipo de Organizacion | <i class="ion-person"></i>
          </div>
          <div class="description">
            En esta seccion se crea un tipo de organizacion
          </div>
        </div>
      </nb-card-body>

      <nb-card-footer>
        <a routerLink="/pages/mantenimientos/mant-espacios-trabajo/grupo-trabajo" title="Nuevo Usuario">
          <i class="ion-person-add"></i>
        </a>
        <a href="https://itunes.apple.com/us/app/kitten-tricks/id1246143230" target="_blank"
          title="Deshabilitar Usuario">
          <i class="ion-trash-b"></i>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank"
          title="Editar Usuario">
          <i class="ion-settings"></i>
        </a>
      </nb-card-footer>
    </nb-card>
  </div>

  <!-- Tarjeta para el Mantenimiento de Perfiles -->
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <!-- <nb-card size="medium"> -->
    <nb-card>
      <nb-card-body>
        <!-- <div class="picture" style.background-image="url('../../../../assets/images/kitten-{{currentTheme}}.png')"></div> -->
        <div class="details">
          <div class="title">
            Agregar Categoria | <i class="ion-funnel"></i>
          </div>
          <div class="description">
            Se agrega la categoria
          </div>
        </div>
      </nb-card-body>

      <nb-card-footer>
        <a routerLink="/pages/mantenimientos/mant-espacios-trabajo/agregar-categoria" title="Nuevo Usuario">
          <i class="ion-person-add"></i>
        </a>
        <a href="https://itunes.apple.com/us/app/kitten-tricks/id1246143230" target="_blank"
          title="Deshabilitar Usuario">
          <i class="ion-trash-b"></i>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank"
          title="Editar Usuario">
          <i class="ion-settings"></i>
        </a>
      </nb-card-footer>
    </nb-card>
  </div>


  <!-- Tarjeta para el Mantenimiento de xxxx -->
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <!-- <nb-card size="medium"> -->
    <nb-card>
      <nb-card-body>
        <!-- <div class="picture" style.background-image="url('../../../../assets/images/kitten-{{currentTheme}}.png')"></div> -->
        <div class="details">
          <div class="title">
            Organziaciones | <i class="ion-archive"></i>
          </div>
          <div class="description">
            Creamos la Organizaciones y su respectivo mantenimientos.
          </div>
        </div>
      </nb-card-body>

      <nb-card-footer>
        <a routerLink="/pages/mantenimientos/mant-espacios-trabajo/organizacion" title="Nuevo Usuario">
          <i class="ion-person-add"></i>
        </a>
        <a href="https://itunes.apple.com/us/app/kitten-tricks/id1246143230" target="_blank"
          title="Deshabilitar Usuario">
          <i class="ion-trash-b"></i>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank"
          title="Editar Usuario">
          <i class="ion-settings"></i>
        </a>
      </nb-card-footer>
    </nb-card>
  </div>

  <!-- Tarjeta para el Mantenimiento de xxxx -->
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <!-- <nb-card size="medium"> -->
    <nb-card>
      <nb-card-body>
        <!-- <div class="picture" style.background-image="url('../../../../assets/images/kitten-{{currentTheme}}.png')"></div> -->
        <div class="details">
          <div class="title">
            Agregar Cartera | <i class="ion-archive"></i>
          </div>
          <div class="description">
            Creamos la cartera con sus respectivos datos
          </div>
        </div>
      </nb-card-body>

      <nb-card-footer>
        <a href="https://akveo.github.io/react-native-ui-kitten" target="_blank" title="Nuevo Usuario">
          <i class="ion-person-add"></i>
        </a>
        <a href="https://itunes.apple.com/us/app/kitten-tricks/id1246143230" target="_blank"
          title="Deshabilitar Usuario">
          <i class="ion-trash-b"></i>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank"
          title="Editar Usuario">
          <i class="ion-settings"></i>
        </a>
      </nb-card-footer>
    </nb-card>
  </div>


  <!-- Tarjeta para el Mantenimiento de XXXX -->
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <!-- <nb-card size="medium"> -->
    <nb-card>
      <nb-card-body>
        <!-- <div class="picture" style.background-image="url('../../../../assets/images/kitten-{{currentTheme}}.png')"></div> -->
        <div class="details">
          <div class="title">
            Asignar Cartera | <i class="ion-scissors"></i>
          </div>
          <div class="description">
            Se asigna a un usuario a la cartera para que tenga un responsable.
          </div>
        </div>
      </nb-card-body>

      <nb-card-footer>
        <a href="https://akveo.github.io/react-native-ui-kitten" target="_blank" title="Nuevo Usuario">
          <i class="ion-person-add"></i>
        </a>
        <a href="https://itunes.apple.com/us/app/kitten-tricks/id1246143230" target="_blank"
          title="Deshabilitar Usuario">
          <i class="ion-trash-b"></i>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank"
          title="Editar Usuario">
          <i class="ion-settings"></i>
        </a>
      </nb-card-footer>
    </nb-card>
  </div>
</div>