<!-- Maquetacion de los Programas de Plan de Nacion -->
<!-- Componente para los Mensajes en pantalla -->
<toaster-container [toasterconfig]="config"></toaster-container>

<!-- Agrupacion de la Informacion de Programas Plan de Nacion -->
<p-fieldset legend="Plan de Nacion" [toggleable]="true" class="fieldSet">
  <nb-card accent="warning" status="primary">
    <nb-card-body>
      <div class="row">
        <div class="col-sm-6">
          <h4>Selecciona los Programas | Plan de Nacion</h4>
          <input type="text" class="form-control txtSearch" name="queryString " [(ngModel)]="queryString4"
            placeholder="Buscar Plan Nacion">
          <br>
          <p-tree [style]="{'width': '100%'}" [value]="filesTree4 | filter: queryString" selectionMode="checkbox"
            (onNodeUnselect)="nodeUnselect($event)"  (onNodeSelect)="nodeSelect($event)"
            dynamic="true"></p-tree>
          <br>
          <div><span *ngFor="let file of selectedFiles2">{{file.parent.data}} </span> </div>
        </div>

        <div class="col-sm-6">
          <h4>Programas de Plan de Nacion seleccionados</h4>
          <p-listbox [options]="JsonSendProgramaPlanNacionOpciones" [style]="{'width': '100%'}"
            [(ngModel)]="selectedCities" multiple="multiple" filter="filter" optionLabel="name">
            <p-header>
              <i class="fa fa-file"></i>
              Confirma cuales sectores deben de registrarse...
            </p-header>
          </p-listbox>
          <p><span *ngFor="let c of selectedCities" style="margin-right: 10px">{{c.name}}</span>
          </p>
          <hr>
          <div class="icon-button-examples">
            <!-- Boton de  Limpiar listado Plan Nacion seleccionado -->
            <button type="button" class="btn btn-outline-danger btn-icon" nbPopover="Limpia el listado de Plan Nacion"
              nbPopoverMode="hint" nbPopoverPlacement="top" (click)="cleanProgramaPlanNacion()">
              <i class="ion-trash-a"></i>
            </button>

            <!-- Boton para Calcular los Porcentajes Plan Nacion -->
            <button type="button" class="btn btn-outline-success btn-icon"
              nbPopover="Calcula el % de participacion de Plan Nacion" nbPopoverMode="hint" nbPopoverPlacement="top">
              <i class="ion-calculator"></i>
            </button>

            <!-- Boton para Grabar Plan Nacion -->
            <button type="button" class="btn btn-outline-primary btn-icon"
              nbPopover="Registra los programas Plan de Nacion" nbPopoverMode="hint" nbPopoverPlacement="top"
              (click)="saveProgramaPlanNacion()">
              <i class="ion-upload"></i>
            </button>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</p-fieldset>
