<!-- Maquetacion de las Organizaciones de Socio al Desarrollo -->
<!-- Componente para los Mensajes en pantalla -->
<!-- <toaster-container></toaster-container> -->

<p-confirmDialog header="Eliminar Socio al Desarrollo" icon="pi pi-exclamation-triangle" width="425">
</p-confirmDialog>

<!-- Agrupacion de la Informacion de Socio al Desarrollo -->
<p-fieldset legend="Socio al Desarrollo" [toggleable]="true" class="fieldSet"  [collapsed]="true">
  <nb-card accent="warning" status="primary">
    <nb-card-body>
      <div class="row">
        <div class="col-sm-6">
          <h4>Selecciona | Socio al Desarrollo</h4>
          <angular2-multiselect [data]="dropdownListSocioDesarrollo" [(ngModel)]="selectedItemsSocioDesarrollo"
            [settings]="dropdownSettings" (onSelect)="OnItemSelectSocioDesarrollo($event)"></angular2-multiselect>
        </div>

        <div class="col-sm-6">
          <h4>Socios al Desarrollo seleccionados</h4>
          <p-listbox [options]="JsonSendSociosDesarrollo" [style]="{'width': '100%'}" [(ngModel)]="selectedCities"
            multiple="multiple" filter="filter" optionLabel="name">
            <p-header>
              <i class="fa fa-file"></i>
              Confirma cuales socios al desarrollo deben de registrarse...
            </p-header>
            <ng-template let-socio pTemplate="item">
              <div class="ui-helper-clearfix">
                <span style="float:left">{{socio.label}}</span>
                <input style="float: right; width: 15%; height: 10px; text-align: center" class="form-control"
                  type="text" severity="error" pInputText pKeyFilter="int" placeholder="%" maxlength="2"
                  value="{{socio.value.otro}}" (keyup)="validaPercent($event, socio.value.code)">
                <img style="float: right;" src="../../../../../../assets/icons/forms/rubbish-bin_24x.png" alt="Delete"
                  (click)="confirm(socio.value.code)">
              </div>
            </ng-template>
          </p-listbox>

          <hr>
          <div class="icon-button-examples">
            <!-- Boton de Calcular Porcentajes -->
            <button type="button" class="btn btn-outline-danger btn-icon"
              nbPopover="Limpia el listado de Socio al Desarrollo" nbPopoverMode="hint" nbPopoverPlacement="top"
              (click)="cleanAllSocioDesarrollo()">
              <i class="ion-trash-a"></i>
            </button>

            <!-- Boton para Calcular los Porcentajes Organizaciones  -->
            <button type="button" class="btn btn-outline-success btn-icon" (click)="calcularPercent()"
              nbPopover="Calcula el % de participacion de Socio al Desarrollo" nbPopoverMode="hint"
              nbPopoverPlacement="top">
              <i class="ion-calculator"></i>
            </button>

            <!-- Boton para Grabar Organizaciones  -->
            <button type="button" class="btn btn-outline-primary btn-icon"
              nbPopover="Registra el listado Socios al Desarrollo" nbPopoverMode="hint" nbPopoverPlacement="top"
              (click)="saveSocioDesarrollo()">
              <i class="ion-upload"></i>
            </button>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</p-fieldset>
