<!-- Area de Donde esta Ubicado el Usuario -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/pages/dashboard">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="./">Mantenimientos</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/pages/mantenimientos/mant-seguridad">Seguridad</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="./">Mantenimiento de usuarios</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Creacion de Usuarios</li>
  </ol>
</nav>

<!-- ==================================================================================== -->
<!-- Componente para los Mensajes en pantalla -->
<toaster-container [toasterconfig]="config"></toaster-container>

<div class="row">
  <div class="col-md-12 col-lg-12">
    <nb-card>
      <nb-tabset>
        <!-- Area de la estructura del primer tab donde se crean los usuarios-->
        <nb-tab tabTitle="Creacion de Usuario">
          <div class="row">
            <div class="col-lg-4">
              <nb-card>
                <nb-card-body>
                  <div class="row full-name-inputs">
                    <div class="col-sm-6 input-group">
                      <input type="text"  #nombre1Usuario="ngModel" placeholder="Primer Nombre" class="form-control"
                        name="nombre1Usuario" id="nombre1Usuario" ngControl="nombre1Usuario"
                        [(ngModel)]="_usuarioModel.nombre1Usuario" required />
                    </div>
                    <div class="col-sm-6 input-group">
                      <input type="text" #nombre2Usuario="ngModel" placeholder="Segundo Nombre" class="form-control"
                        name="nombre2Usuario" id="nombre2Usuario" ngControl="nombre2Usuario"
                        [(ngModel)]="_usuarioModel.nombre2Usuario" required />
                    </div>
                    <div class="col-sm-6 input-group">
                      <input type="text" #apellido1Usuario="ngModel" placeholder="Primer Apellido" class="form-control"
                        name="apellido1Usuario" id="apellido1Usuario" ngControl="apellido1Usuario"
                        [(ngModel)]="_usuarioModel.apellido1Usuario" required />
                    </div>
                    <div class="col-sm-6 input-group">
                      <input type="text" #apellido2Usuario="ngModel" placeholder="Segundo Apellido" class="form-control"
                        name="apellido2Usuario" id="apellido2Usuario" ngControl="apellido2Usuario"
                        [(ngModel)]="_usuarioModel.apellido2Usuario" required />
                    </div>
                    <div class="col-sm-6 input-group">
                      <input type="text" #inicialesUsuario="ngModel" placeholder="Iniciales del Usuario"
                        class="form-control" name="inicialesUsuario" id="inicialesUsuario" ngControl="inicialesUsuario"
                        [(ngModel)]="_usuarioModel.inicialesUsuario" required />
                    </div>
                    <div class="col-sm-6 input-group">
                      <input type="text" InputText KeyFilter="num" #codUsuario="ngModel" placeholder="Codigo del Usuario" class="form-control"
                        name="codUsuario" id="codUsuario" ngControl="codUsuario" [(ngModel)]="_usuarioModel.codUsuario"
                        required />
                    </div>
                  </div>
                  <div class="input-group">
                    <input type="text" #emailUsuario="ngModel" placeholder="Correo Electronico"
                      class="form-control input-lg" name="emailUsuario" id="emailUsuario" ngControl="emailUsuario"
                      [(ngModel)]="_usuarioModel.emailUsuario" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                      required minlength="5" />
                    <div *ngIf="emailUsuario.errors &&(emailUsuario.touched || emailUsuario.dirty)"
                      class="aler alert-danger">
                      <div [hidden]="!emailUsuario.errors?.pattern">
                        Ingresa un Correo Real
                      </div>
                    </div>
                    <!-- <small class="form-text error" *ngIf="emailUsuario.errors?.minlength">Se nesesita por lo
                      menos {{ emailUsuario.errors.minlength.requiredLength }} caracteres</small> -->
                    <small class="form-text error" *ngIf="emailUsuario.errors?.required">El correo es
                      obligatorio</small>
                  </div>
                  <div class="input-group">
                    <!-- <label for ="email">Email</label> -->
                    <input type="text" #emailUsuario2="ngModel" placeholder="Repetir Correo Electronico"
                      class="form-control" name="emailUsuario2" id="emailUsuario2" ngControl="emailUsuario2"
                      [(ngModel)]="_usuarioModel.emailUsuario2" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                      required />
                    <div *ngIf="emailUsuario2.errors &&(emailUsuario2.touched || emailUsuario2.dirty)"
                      class="aler alert-danger">
                      <div [hidden]="!emailUsuario2.errors?.pattern">
                        Ingresa un Correo Real
                      </div>
                    </div>
                    <small class="form-text error"
                      *ngIf=" _usuarioModel.emailUsuario != _usuarioModel.emailUsuario2 ">Los
                      Correos no son iguales</small>
                  </div>
                  <!-- <div class="row full-name-inputs"> -->
                  <div class="input-group">
                    <input type="password" #passwordUsuario="ngModel" placeholder="Contraseña" class="form-control"
                      name="passwordUsuario" id="passwordUsuario" ngControl="passwordUsuario"
                      [(ngModel)]="_usuarioModel.passwordUsuario" required minlength="5" maxlength="20" />
                    <small class="form-text error" *ngIf="passwordUsuario.errors?.minlength">Se nesesita por lo
                      menos {{ passwordUsuario.errors.minlength.requiredLength }} caracteres</small>
                    <small class="form-text error" *ngIf="passwordUsuario.errors?.required">La Contraseña es
                      obligatoria</small>
                  </div>
                  <div class="input-group">
                    <input type="password" #passwordUsuario2="ngModel" placeholder="Repetir Contraseña"
                      class="form-control" name="passwordUsuario2" id="passwordUsuario2" ngControl="passwordUsuario2"
                      [(ngModel)]="_usuarioModel.passwordUsuario2" required maxlength="20" />
                    <small class="form-text error"
                      *ngIf=" _usuarioModel.passwordUsuario != _usuarioModel.passwordUsuario2 ">Las Contraseñas no son
                      iguales</small>
                  </div>
                  <!-- </div> -->
                </nb-card-body>
              </nb-card>
            </div>
            <div class="col-lg-4">
              <nb-card>
                <nb-card-body>
                    <div class="form-group">
                        <strong> <label>País Residencia</label> </strong>
                        <angular2-multiselect [data]="dropdownListPais" [(ngModel)]="selectedItemsPais"
                          [settings]="dropdownSettings" (onSelect)="onItemSelectPais($event)" required>
                        </angular2-multiselect>
                      </div>
                    <div class="form-group">
                        <strong> <label>Seleccione un Tipo Organizacion</label> </strong>
                        <select class="form-control"   name="idTipoOrganizacion" id="idTipoOrganizacion"
                          ngControl="idTipoOrganizacion"  [(ngModel)]="_usuarioModel.idTipoOrganizacion"
                          (change)="categoriasOrganizacionListService( _usuarioModel.idTipoOrganizacion)" required>
                          <option value="0">Seleccione una Opcion</option>
                          <option *ngFor="let item of JsonReceptionTipoOrganizacion" [value]="item.idTipoOrganizacion">
                            {{item.descTipoOrganizacion}}
                          </option>
                        </select>
                      </div>
                    <div class="form-group">
                        <strong> <label>Seleccione Categoria Organizacion</label> </strong>
                        <select class="form-control" name="idCatOrganizacion" id="idCatOrganizacion"
                          ngControl="idCatOrganizacion" [(ngModel)]="_usuarioModel.idCatOrganizacion"
                          (change)="organizacionesIdTipoIdPaisIdCategoriaListService(_usuarioModel.idTipoOrganizacion,
                          _usuarioModel.idPais, _usuarioModel.idCatOrganizacion)" required="true">
                          <option value="0">Seleccione una Opcion</option>
                          <option *ngFor="let item of JsonReceptionCatOrganizacion" [value]="item.idCatOrganizacion">
                            {{item.descCatOrganizacion}}
                          </option>
                        </select>
                      </div>
                      <div class="form-group">
                        <strong> <label>Seleccione la Organizacion</label> </strong>
                        <select class="form-control" name="idOrganizacion" id="idOrganizacion" ngControl="idOrganizacion"
                          [(ngModel)]="_usuarioModel.idOrganizacion" required>
                          <option value="0">Seleccione una Opcion</option>
                          <option *ngFor="let item of JsonReceptionOrganizacion" [value]="item.idOrganizacion">
                            {{item.nombreOrganizacion}}
                          </option>
                        </select>
                      </div>
                </nb-card-body>
              </nb-card>
            </div>
            <div class="col-lg-4">
              <nb-card>
                <nb-card-body>
                    <div class="input-group">
                        <input type="text" #direccion="ngModel" placeholder="Direccion" class="form-control"
                          name="direccion" id="direccion" ngControl="direccion" [(ngModel)]="_usuarioModel.direccion"
                          required />
                      </div>

                    <div class="form-group">
                        <strong> <label>Seleccione un Perfil</label> </strong>
                        <select class="form-control" name="idTipo" id="idTipo" ngControl="idTipo"
                          [(ngModel)]="_usuarioModel.idTipo" required>
                          <option value="0">Seleccione una Opcion</option>
                          <option *ngFor="let item of JsonReceptionTipoUsuarios" [value]="item.idTipo">
                            {{item.descTipo}}
                          </option>
                        </select>
                      </div>
                      <div class="form-group">
                          <strong> <label>Seleccione un Estado</label> </strong>
                          <select class="form-control" name="idEstado" id="idEstado" ngControl="idEstado"
                            [(ngModel)]="_usuarioModel.idEstado" required>
                            <option value="0">Seleccione una Opcion</option>
                            <option *ngFor="let item of JsonReceptionEstados" [value]="item.idEstado">
                              {{item.descEstado}}
                            </option>
                          </select>
                        </div>
                  <!-- <div class="form-group">
                    <strong> <label>Organizacion</label> </strong>
                    <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems"
                      [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" required>
                    </angular2-multiselect>
                  </div> -->
                      <!-- <div class="demo-checkboxes col-sm-6"0> -->
                        <div class="form-control">
                          <div class="row demo-checkboxes-radio">
                            <!-- <div class="demo-checkboxes col-sm-6"> -->
                            <nb-checkbox (change)="toggleVisibilit($event)" #asignarEspacioTrabajo="ngModel" type="checkbox"
                              [(ngModel)]="_usuarioModel.asignarEspacioTrabajo" name="asignarEspacioTrabajo"
                              id="asignarEspacioTrabajo">Asignar Espacio de Trabajo</nb-checkbox>
                            <!-- </div> -->
                          </div>
                        </div>
                      <!-- </div> -->
                  <div class="form-group">
                      <br>
                      <!-- </div> -->
                    <button type="button" (click)="newUsuarioService()" class="btn btn-primary">Guardar</button>
                    <button type="button"(click)="cleanUsuario()" class="btn btn-warning">Cancelar</button>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </nb-tab>
        <!-- Comienzo de estructura del tab dos donde se consultan los usuarios -->
        <nb-tab tabTitle="Mantenimiento/Consultar">
          <div class="col-lg-12">
            <nb-card>
              <nb-card-body>
                <ng2-smart-table [settings]="settings" [source]="data" (editConfirm)="onSaveConfirm1($event)"
                  (deleteConfirm)="onDeleteConfirm($event)">
                </ng2-smart-table>
              </nb-card-body>
            </nb-card>
          </div>
        </nb-tab>
        <!-- Comienzo de estructura del tab tres donde se consultan los espacios de trabajo por usuario -->
        <nb-tab tabTitle="Usuarios/Espacios de Trabajo">
          <div class="col-lg-12">
            <nb-card>
              <nb-card-body>
                <table class="table table-hover table-striped table-bordered" id="tableIdInterna">
                  <thead>
                    <tr class="tHeadSearch">
                      <th scope="col" colspan="2">
                        <input type="text" class="form-control" [(ngModel)]="queryString"
                          placeholder="Buscar Usuario:">
                      </th>
                    </tr>
                    <tr class="tHeadTable">
                      <th scope="col" style="width: 10%;">Codigo</th>
                      <th scope="col" style="width: 10%;">Nombre Usuario</th>
                      <th scope="col" style="width: 15%;">Correo</th>
                      <th scope="col" style="width: 4%;">Activo</th>
                      <th scope="col" style="width: 2%;">Acción</th>
                      <th scope="col" style="width: 2%;"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                    *ngFor="let item of JsonReceptionUsuarios | filterdata: queryString : 'nombre1Usuario' | paginate: { itemsPerPage: 5, currentPage: p };let homeTableIndex = index">
                      <td> {{item.codUsuario}}</td>
                      <td>{{item.nombre1Usuario}}</td>
                      <td>{{item.emailUsuario}}</td>
                      <td>{{item.activo}}</td>
                      <td>
                        <img (click)="showLargeModal1(item.idUsuario.idEspaciosTrabajoUsuarios)"  class="pointerMouse"
                          src="../../../../assets/icons/forms/eye-24.png" alt="">
                          </td>
                          <td><img (click)="showLargeModal2(item.idEspaciosTrabajoUsuarios)" class="pointerMouse"
                              src="../../../../assets/icons/forms/pencil-striped-symbol_24.png" alt="">
                      </td>
                    </tr>
                  </tbody>
                </table>
                 <!-- paginador de la tabla -->
                 <pagination-controls autoHide="true" responsive="true" previousLabel="Anterior" nextLabel="Siguiente"
                 (pageChange)="p = $event"></pagination-controls>
              </nb-card-body>
            </nb-card>
          </div>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>
