<!-- Area de Donde esta Ubicado el Usuario -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/pages/dashboard">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="./">Mantenimientos</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/pages/mantenimientos/mant-seguridad">Seguridad</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="./">Mantenimiento de usuarios</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Creacion de Usuarios</li>
  </ol>
</nav>
<div class="row">
  <div class="col-md-12 col-lg-12">
    <nb-card>
      <nb-tabset>
        <!-- Area de la estructura del primer tab donde se crean los usuarios-->
        <nb-tab tabTitle="Creacion de Usuario">
          <div class="row">
            <div class="col-lg-6">
              <nb-card>
                <nb-card-body>
                  <div class="row full-name-inputs">
                    <div class="col-sm-6 input-group">
                      <input type="text" placeholder="Primer Nombre" class="form-control" />
                    </div>
                    <div class="col-sm-6 input-group">
                      <input type="text" placeholder="Segundo Nombre" class="form-control" />
                    </div>
                    <div class="col-sm-6 input-group">
                      <input type="text" placeholder="Primer Apellido" class="form-control" />
                    </div>
                    <div class="col-sm-6 input-group">
                      <input type="text" placeholder="Segundo Apellido" class="form-control" />
                    </div>
                    <div class="col-sm-6 input-group">
                      <input type="text" placeholder="Iniciales del Usuario" class="form-control" />
                    </div>
                    <div class="col-sm-6 input-group">
                      <input type="text" placeholder="Codigo del Usuario" class="form-control" />
                    </div>
                  </div>
                  <div class="input-group">
                    <input type="text" placeholder="Email" class="form-control" />
                  </div>
                  <div class="input-group">
                    <input type="password" placeholder="Password" class="form-control" />
                  </div>
                  <!-- Seleccion del tipo de usuario -->
                  <div class="form-group input-group-rounded">
                    <small class="form-text">Tipo de usuario.
                    </small>
                    <select class="form-control">
                      <option>Administrador de la PGC</option>
                      <option>Usuario de la PGC</option>
                      <option>Consulta de la PGC</option>
                    </select>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
            <div class="col-lg-6">
              <nb-card>
                <!-- <nb-card-header>Perfiles</nb-card-header> -->
                <nb-card-body>
                  <div class="input-group input-group-rounded">
                    <input type="text" placeholder="Pais" class="form-control" />
                  </div>
                  <div class="form-group input-group-rounded">
                    <small class="form-text">Estado de el usuario.
                    </small>
                    <select class="form-control">
                      <option>Nuevo</option>
                      <option>Activo</option>
                      <option>Inactivo</option>
                      <option>Inhabilitado</option>
                    </select>
                  </div>
                  <div class="form-group input-group-rounded">
                    <small class="form-text">Perfil del usuario.
                    </small>
                    <select class="form-control">
                      <option>Administrador</option>
                      <option>Usuario</option>
                      <option>Consulta</option>
                    </select>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-group-icon btn-group-divider">
                      <i class="nb-plus-circled"></i>
                    </button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-warning">Cancelar</button>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </nb-tab>
        <!-- Comienzo de estructura del tab dos donde se consultan los usuarios -->
        <nb-tab tabTitle="Mantenimiento/Consultar">
          <div class="col-lg-12">
            <nb-card>
              <nb-card-body>
                <ng2-smart-table [settings]="settings" [source]="data" (editConfirm)="onSaveConfirm1($event)"
                  (deleteConfirm)="onDeleteConfirm($event)">
                </ng2-smart-table>
              </nb-card-body>
            </nb-card>
          </div>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>