<!-- Maquetacion de los Setores de Gobierno del Proyecto -->
<!-- Componente para los Mensajes en pantalla -->
<toaster-container [toasterconfig]="config"></toaster-container>

<!-- Agrupacion de la Informacion de Sectores de Gobierno NAM -->
<p-fieldset legend="Sectores de Gobierno" [toggleable]="true" class="fieldSet">
  <nb-card accent="warning" status="primary">
    <nb-card-body>
      <div class="row">
        <div class="col-sm-6">
          <h4>Selecciona los Sectores | Gobierno</h4>
          <input type="text" class="form-control txtSearch" name="queryString" [(ngModel)]="queryString"
            placeholder="Buscar Sector">
          <br>
          <p-tree [style]="{'width': '100%'}" [value]="filesTree4 | filter: queryString" selectionMode="checkbox"
            (onNodeUnselect)="nodeUnselect($event)"  (onNodeSelect)="nodeSelect($event)"
            dynamic="true"></p-tree>
          <br>
          <div><span *ngFor="let file of selectedFiles2">{{file.parent.data}} </span></div>
        </div>

        <div class="col-sm-6">
          <h4>Sectores de Gobierno seleccionados</h4>
          <p-listbox [options]="JsonSendSectoresGobiernoOpciones" [style]="{'width': '100%'}"
            [(ngModel)]="selectedCities" multiple="multiple" filter="filter" optionLabel="name">
            <p-header>
              <i class="fa fa-file"></i>
              Confirma cuales sectores deben de registrarse...
            </p-header>
          </p-listbox>
          <p> <span *ngFor="let c of selectedCities" style="margin-right: 10px">{{c.name}}</span>
          </p>
          <hr>
          <div class="icon-button-examples">
            <!-- Boton de limpiar Listado -->
            <button type="button" class="btn btn-outline-danger btn-icon" nbPopover="Limpia el listado de Sectores de Gobierno"
              nbPopoverMode="hint" nbPopoverPlacement="top" (click)="cleanSectoresGobierno()">
              <i class="ion-trash-a"></i>
            </button>

            <!-- Boton para Calcular los Porcentajes Sectores Gobierno -->
            <button type="button" class="btn btn-outline-success btn-icon"
              nbPopover="Calcula el % de participacion de Sectores de Gobierno" nbPopoverMode="hint" nbPopoverPlacement="top">
              <i class="ion-calculator"></i>
            </button>

            <!-- Boton para Grabar Sectores de Gobierno -->
            <button type="button" class="btn btn-outline-primary btn-icon"
              nbPopover="Registra sector de Gobierno" nbPopoverMode="hint" nbPopoverPlacement="top"
              (click)="saveSectoresGobierno()">
              <i class="ion-upload"></i>
            </button>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</p-fieldset>
