<!-- Maquetacion de los Programas del Proyecto -->
<!-- Componente para los Mensajes en pantalla -->
<!-- <toaster-container [toasterconfig]="config"></toaster-container> -->

<!-- ==================================================================================== -->
<nb-card accent="warning" status="primary">
  <nb-card-header>Información de Programas del Proyecto {{ idProyectoTab }} | Codigo de Proyecto {{
    codigoProyectoTab }} | Usuario {{ idUsuarioTab }}
  </nb-card-header>
</nb-card>
<!-- ================ Programas | Vision Pais ==================== -->
<ngx-visionpais [idProyectoTab]="idProyectoTab" [idUsuarioTab]="idUsuarioTab" [codigoProyectoTab]="codigoProyectoTab">
</ngx-visionpais>

<br>
<!-- ================ Programas | Plan de Nacion ==================== -->
<ngx-plan-nacion [idProyectoTab]="idProyectoTab" [idUsuarioTab]="idUsuarioTab" [codigoProyectoTab]="codigoProyectoTab">
</ngx-plan-nacion>

<br>
<!-- ================ Programas | Vida Mejor ==================== -->
<ngx-vida-mejor [idProyectoTab]="idProyectoTab" [idUsuarioTab]="idUsuarioTab" [codigoProyectoTab]="codigoProyectoTab">
</ngx-vida-mejor>

<br>
<!-- ================ Programas | Politicas Publicas y Estrategias Nacionales ==================== -->
<ngx-politicaspublicas [idProyectoTab]="idProyectoTab" [idUsuarioTab]="idUsuarioTab" [codigoProyectoTab]="codigoProyectoTab">
</ngx-politicaspublicas>
