<!-- Diseño de la Ventana de Ubicacion -->
<!-- Componente para los Mensajes en pantalla -->
<toaster-container [toasterconfig]="config"></toaster-container>

<!-- ==================================================================================== -->
<nb-card accent="warning" status="primary">
  <nb-card-header>Información de la Ubicación del Proyecto {{ idProyectoTab }} | Codigo de Proyecto {{
    codigoProyectoTab }} | Usuario {{ idUsuarioTab }}
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-3">
        <!-- Columna de Nivel de Implementación -->
        <div class="form-group">
          <strong> <label>Nivel de Implementación</label> </strong>
          <select #idNivel class="form-control" id="idNivel" name="idNivel" ngControl="idNivel" [(ngModel)]="_activityUbicacionModel.idNivel"
            (change)="getListNivelUbicacionByIdNivelImplementacionService(_activityUbicacionModel.idNivel)">
            <option value="0">Selecciona el Nivel de Implementación</option>
            <option *ngFor="let item of JsonReceptionNivelImplementacion" [value]="item.idNivel">
              {{item.nombreNivelImpl}}
            </option>
          </select>
        </div>
      </div>


      <!-- Columna de Nivel Unicacion de Implementación -->
      <div class="col-sm-3">
        <div class="form-group">
          <strong> <label>Nivel de Ubicación</label> </strong>
          <select #idNivelUbicacion class="form-control" id="idNivelUbicacion" name="idNivelUbicacion" ngControl="idNivelUbicacion"
            [(ngModel)]="_activityUbicacionModel.idNivelUbicacion" (change)="getListUbicacionService(_activityUbicacionModel.idNivelUbicacion)">
            <option value="0">Selecciona el Nivel de Ubicación</option>
            <option *ngFor="let item of JsonReceptionNivelUbicacionImplementacion" [value]="item.idNivelUbicacion">
              {{item.nombreNivelUbicacion}}
            </option>
          </select>
        </div>
      </div>

      <!-- Columna de Nivel Unicacion de Implementación -->
      <div class="col-sm-4">
        <div class="form-group">
          <strong> <label>Ubicación de Implementación</label> </strong>
          <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings"
            (onSelect)="onItemSelect($event)"></angular2-multiselect>
        </div>
      </div>

      <!-- Porcentaje de Participacion -->
      <div class="col-sm-2">
        <div class="form-group">
          <strong> <label>Porcentaje Part.</label> </strong>
          <div class="input-group">
            <input #porcentajeUbicacion class="form-control" id="porcentajeUbicacion" name="porcentajeUbicacion"
              ngControl="porcentajeUbicacion" [(ngModel)]="_activityUbicacionModel.porcentajeUbicacion" type="text"
              placeholder="% de Part." class="form-control" maxlength="5" />
            <!-- Boton para Agregar Ubicaciones -->
            <button type="button" class="btn btn-primary btn-group-icon btn-group-divider botonSpecial" nbPopover="Ingresa la Información seleccionada al listado de las Ubicaciones del Proyecto"
              nbPopoverMode="hint" (click)="pushJsonIdUbicacion()">
              <i class="ion-plus-round"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Fila de las Ubicaciones seleccionadas -->
    <div class="row">
      <div class="col-sm-12">
        <!-- Tabla de las Ubicaciones -->
        <table class="table table-hover table-striped table-bordered" id="tableIdInterna">
          <thead>
            <tr class="tHeadSearch">
              <th scope="col" colspan="2">
                <input type="text" class="form-control" [(ngModel)]="queryString" placeholder="Buscar Ubicación">
              </th>
            </tr>
            <tr class="tHeadTable">
              <th scope="col" style="width: 2%;">No</th>
              <th scope="col" style="width: 20%;">Nivel de Implementación</th>
              <th scope="col" style="width: 25%;">Ubicación de Implementación</th>
              <th scope="col" style="width: 30%;">Ubicación</th>
              <th scope="col" style="width: 5%;">% de Part.</th>
              <th scope="col" style="width: 5%;">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemUbicacion of JsonIdUbicacionesProyecto | filterdata: queryString : 'nombreUbicacionImpl' | paginate: { itemsPerPage: 5, currentPage: page, id: '1' }; let homeTableIndex = index">
              <td>{{ homeTableIndex + 1 }}</td>
              <td>{{ itemUbicacion.nombreNivelImpl }}</td>
              <td>{{ itemUbicacion.nombreNivelUbicacion }}</td>
              <td>{{ itemUbicacion.nombreUbicacionImpl }}</td>
              <td>{{ itemUbicacion.porcentajeUbicacion | number : '1.2-2' }} </td>
              <td>
                <img class="pointerMouse" src="../../../../assets/icons/forms/map_24.png" nbPopover="Visualiza el mapa, para ingresar las localidades"
                  nbPopoverMode="hint" alt="Mapa" (click)="showStaticModal()">

                <img class="pointerMouse" src="../../../../assets/icons/forms/rubbish-bin_24x.png" nbPopover="Borra del listado, la Ubicación seleccionada"
                  nbPopoverMode="hint" alt="Borrar" (click)="deleteRowHomeForm(homeTableIndex, itemUbicacion.nombreUbicacionImpl,
itemUbicacion.idUbicacionImpl.idUbicacionImplementacion, itemUbicacion.idActividad)">
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Boton para Calcular los Porcentajes Ubicaciones -->
        <!-- <button type="button" class="btn btn-primary btn-group-icon btn-group-divider botonSpecial" nbPopover="Calcula de igual forma todos los porcentajes para las Ubicaciones"
          nbPopoverMode="hint" (click)="calcPorcForm()">Calcular %
          <i class="ion-navicon-round"></i>
        </button> -->
        <button class="btn btn-primary botonSave with-margins" nbPopover="Calcula de igual forma todos los porcentajes para las Ubicaciones"
          nbPopoverMode="hint" nbPopoverPlacement="top" (click)="calcPorcForm()">Calcular %</button>
        <!-- paginador de la tabla -->
        <pagination-controls autoHide="true" responsive="true" previousLabel="Anterior" nextLabel="Siguiente"
          (pageChange)="page = $event" id="1" directionLinks="true"></pagination-controls>
      </div>
    </div>

    <!-- Botones  -->
    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="col-lg-12">
            <button class="btn btn-warning with-margins" nbPopover="Guarda la Información de tu Proyecto de forma temporal; para que luego puedas seguir actualizandola."
              nbPopoverMode="hint" nbPopoverPlacement="left" (click)="saveUbicaciones()">Guardar como borrador</button>

            <button class="btn btn-primary botonSave with-margins" nbPopover="Enviar la Información del Proyecto, para luego validar por el Administrador"
              nbPopoverMode="hint" nbPopoverPlacement="top" (click)="saveActivity(2)">Guardar y Enviar</button>

            <!-- <button class="btn btn-success" (click)="showLargeModal()">Large modal</button> -->
            <!-- <button class="btn btn-primary" (click)="showStaticModal()">Static modal</button> -->
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-body>
</nb-card>
