<!-- Maquetacion del Encabezado del Financiamiento del Proyecto -->
<!-- Componente para los Mensajes en pantalla -->
<!-- ==================================================================================== -->
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Costo Total del Proyecto</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <strong> <label>Monto de Proyecto</label> </strong>
              <input class="form-control" type="text" pKeyFilter="money" required>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <strong> <label>Moneda</label> </strong>
              <select class="form-control" #idEstado="ngModel" name="idMoneda" id="idMoneda" required
                ngControl="idMoneda" [(ngModel)]="idMoneda">
                <option value="0">**** Selecciona el Estado ****</option>
                <!-- <option *ngFor="let item of JsonReceptionEstados" [value]="item.idEstado"> -->
                <!-- {{item.descEstado}}
                </option> -->
              </select>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <strong> <label>Fecha de Transacción</label> </strong>
              <!-- <my-date-picker name="mydate" class="form-control" [options]="myDatePickerOptions" [(ngModel)]="date6"
                required (dateChanged)="onDateChanged($event, 1)">
              </my-date-picker> -->
              <p-calendar [inline]="false" class="form-control" [showIcon]="true" [(ngModel)]="date6"
                dateFormat="dd/mm/yy" (click)="showDialog()" [locale]="es">
              </p-calendar>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<p-dialog header="Fecha de Transacción" [(visible)]="display" [modal]="true">
  <div class="col-sm-2">
    <!-- <h3>Navigators</h3> -->
    <p-calendar [inline]="true" [showIcon]="false" [(ngModel)]="date6" [monthNavigator]="true" [yearNavigator]="true"
      yearRange="2000:2030" (dblclick)="closeDialog()" dateFormat="dd/mm/yy" [locale]="es"></p-calendar>
  </div>
</p-dialog>
