<div class="modal-header">
  <span>Actualizar Organizacion </span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-4">
      <nb-card>
        <nb-card-body>
          <strong><label>Codigo de la Organizacion</label></strong>
          <div class="form-group">
            <input #codOrganizacionModal="ngModel" class="form-control" type="text"
              placeholder="Codigo de la Organizacion" name="codOrganizacionModal" id="codOrganizacionModal"
              ngControl="codOrganizacionModal" [(ngModel)]="_OrganizacionModal1.codOrganizacionModal" required />
          </div>
          <strong><label>Iniciales de la Organizacion</label></strong>
          <div class="form-group">
            <input #inicalesOrganizacionModal="ngModel" class="form-control" type="text"
              placeholder="Iniciales de la Organizacion" name="inicalesOrganizacionModal" id="inicalesOrganizacionModal"
              ngControl="inicalesOrganizacionModal" [(ngModel)]="_OrganizacionModal1.inicalesOrganizacionModal"
              required />
          </div>
          <strong><label>Nombre de la Organizacion</label></strong>
          <div class="form-group">
            <input #nombreOrganizacionModal="ngModel" class="form-control" type="text"
              placeholder="Nombre de la Organizacion" placeholder="Iniciales de la Organizacion"
              name="nombreOrganizacionModal" id="nombreOrganizacionModal" ngControl="nombreOrganizacionModal"
              [(ngModel)]="_OrganizacionModal1.nombreOrganizacionModal" required />
          </div>
          <strong><label>Descripcion de la Organizacion</label></strong>
          <div class="form-group">
            <input #descOrganizacionModal="ngModel" class="form-control" type="text"
              placeholder="Direccion de la Organizacion" name="descOrganizacionModal" id="descOrganizacionModal"
              ngControl="descOrganizacionModal" [(ngModel)]="_OrganizacionModal1.descOrganizacionModal" required />
          </div>
          <strong><label>Direccion de la Organizacion</label></strong>
          <div class="form-group">
            <input #direccionFisicaOrganizacionModal="ngModel" class="form-control" type="text"
              placeholder="Direccion de la Organizacion" name="direccionFisicaOrganizacionModal"
              id="direccionFisicaOrganizacionModal" ngControl="direccionFisicaOrganizacionModal"
              [(ngModel)]="_OrganizacionModal1.direccionFisicaOrganizacionModal" required />
          </div>
          <strong><label>Telefono</label></strong>
          <div class="form-group">
            <input #telefonoOrganizacionModal="ngModel" class="form-control" type="text" placeholder="Telefono"
              name="telefonoOrganizacionModal" id="telefonoOrganizacionModal" ngControl="telefonoOrganizacionModal"
              [(ngModel)]="_OrganizacionModal1.telefonoOrganizacionModal" required />
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-4">
      <nb-card>
        <nb-card-body>
          <strong><label>Email</label></strong>
          <div class="form-group">
            <input #emailOrganizacionModal="ngModel" class="form-control" type="text" placeholder="Email"
              name="emailOrganizacionModal" id="emailOrganizacionModal" ngControl="emailOrganizacionModal"
              [(ngModel)]="_OrganizacionModal1.emailOrganizacionModal" />
          </div>
          <strong><label>Departamento de la Organizacion</label></strong>
          <div class="form-group">
            <input #deptoReferenciaModal="ngModel" class="form-control" type="text"
              placeholder="Departamento de la Organizacion" name="deptoReferenciaModal" id="deptoReferenciaModal"
              ngControl="deptoReferenciaModal" [(ngModel)]="_OrganizacionModal1.deptoReferenciaModal" required />
          </div>
          <strong><label>Contacto de Referencia</label></strong>
          <div class="form-group">
            <input #contactoReferenciaModal="ngModel" class="form-control" type="text"
              placeholder="Departamento de la Organizacion" name="contactoReferenciaModal" id="contactoReferenciaModal"
              ngControl="contactoRcontactoReferenciaModaleferencia"
              [(ngModel)]="_OrganizacionModal1.contactoReferenciaModal" required />
          </div>
          <fieldset class="fieldCheck">
            <div class="demo-checkboxes">
              <strong>
                <nb-checkbox #socioDesarrolloModal="ngModel" type="checkbox"
                  [(ngModel)]="_OrganizacionModal1.socioDesarrolloModal" name="socioDesarrolloModal"
                  id="socioDesarrolloModal">Socio en Desarrollo</nb-checkbox>
              </strong>
              <strong>
                <nb-checkbox #agenciaBeneficiariaModadal="ngModel" type="checkbox"
                  [(ngModel)]="_OrganizacionModal1.agenciaBeneficiariaModadal" name="agenciaBeneficiariaModadal"
                  id="agenciaBeneficiariaModadal">Agencia Beneficiaria</nb-checkbox>
              </strong>
              <strong>
                <nb-checkbox #unidadEjecutoraModal="ngModel" type="checkbox"
                  [(ngModel)]="_OrganizacionModal1.unidadEjecutoraModal" name="unidadEjecutoraModal"
                  id="unidadEjecutoraModal">Unidad Ejecutora</nb-checkbox>
              </strong>
              <strong>
                <nb-checkbox #administradorFinancieroModal="ngModel" type="checkbox"
                  [(ngModel)]="_OrganizacionModal1.administradorFinancieroModal" name="administradorFinancieroModal"
                  id="administradorFinancieroModal">Administrador Financiero</nb-checkbox>
              </strong>
            </div>
          </fieldset>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-4">
      <nb-card>
        <nb-card-body>
          <strong><label>Web de la Organizacion</label></strong>
          <div class="form-group">
            <input #webOrganizacionModal="ngModel" class="form-control" type="text" placeholder="Web de la Organizacion"
              name="webOrganizacionModal" id="webOrganizacionModal" ngControl="webOrganizacionModal"
              [(ngModel)]="_OrganizacionModal1.webOrganizacionModal" required />
          </div>
          <div class="form-group">
            <strong><label>Elija un Tipo De Organizacion</label></strong>
            <select name="idTipoOrganizacion1Modal" id="idTipoOrganizacion1Modal" ngControl="idTipoOrganizacion1Modal"
              class="form-control" [(ngModel)]="_OrganizacionModal1.idTipoOrganizacion1Modal" required>
              <option value="0">Seleccione una Opcion</option>
              <option *ngFor="let item of JsonReceptionTipoPerfiles" [value]="item.idTipoOrganizacion">
                {{item.descTipoOrganizacion}}
              </option>
            </select>
          </div>
          <strong> <label>País Organización</label> </strong>
          <angular2-multiselect [data]="dropdownListPais" [(ngModel)]="selectedItemsPais" [settings]="dropdownSettings"
            (onSelect)="onItemSlectPais($event)"  required></angular2-multiselect>
          <div class="form-group">
            <strong><label>Categoria de la Organizacion</label></strong>
            <select name="idCatOrganizacion1Modal" id="idCatOrganizacion1Modal" ngControl="idCatOrganizacion1Modal"
              class="form-control" [(ngModel)]="_OrganizacionModal1.idCatOrganizacion1Modal" required>
              <option value="0">Seleccione una Opcion</option>
              <option *ngFor="let item of JsonCategoria" [value]="item.idCatOrganizacion">
                {{item.descCatOrganizacion}}></option>
            </select>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-md btn-primary" (click)="closeModal()">Guardar los Cambios</button>
</div>