<div class="modal-header">
    <span>Actualizar Organizacion</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-4">
        <nb-card>
          <nb-card-body>
            <strong><label>Codigo de la Organizacion</label></strong>
            <div class="form-group">
              <input #codOrganizacion="ngModel" class="form-control" type="text" disabled
                placeholder="Codigo de la Organizacion" name="codOrganizacion" id="codOrganizacion"
                ngControl="codOrganizacion" [(ngModel)]="_OrganizacionModal1.codOrganizacion" required />
            </div>
            <strong><label>Iniciales de la Organizacion</label></strong>
            <div class="form-group">
              <input #inicalesOrganizacion="ngModel" class="form-control" type="text"
                placeholder="Iniciales de la Organizacion" name="inicalesOrganizacion" id="inicalesOrganizacion"
                ngControl="inicalesOrganizacion" [(ngModel)]="_OrganizacionModal1.inicalesOrganizacion" required />
            </div>
            <strong><label>Nombre de la Organizacion</label></strong>
            <div class="form-group">
              <input #nombreOrganizacion="ngModel" class="form-control" type="text"
                placeholder="Nombre de la Organizacion" placeholder="Iniciales de la Organizacion"
                name="nombreOrganizacion" id="nombreOrganizacion" ngControl="nombreOrganizacion"
                [(ngModel)]="_OrganizacionModal1.nombreOrganizacion" required />
            </div>
            <strong><label>Descripcion de la Organizacion</label></strong>
            <div class="form-group">
              <input #descOrganizacion="ngModel" class="form-control" type="text"
                placeholder="Direccion de la Organizacion" name="descOrganizacion" id="descOrganizacion"
                ngControl="descOrganizacion" [(ngModel)]="_OrganizacionModal1.descOrganizacion" required />
            </div>
            <strong><label>Direccion de la Organizacion</label></strong>
            <div class="form-group">
              <input #direccionFisicaOrganizacion="ngModel" class="form-control" type="text"
                placeholder="Direccion de la Organizacion" name="direccionFisicaOrganizacion"
                id="direccionFisicaOrganizacion" ngControl="direccionFisicaOrganizacion"
                [(ngModel)]="_OrganizacionModal1.direccionFisicaOrganizacion" required />
            </div>
            <strong><label>Telefono</label></strong>
            <div class="form-group">
              <input #telefonoOrganizacion="ngModel" class="form-control" type="text" placeholder="Telefono"
                name="telefonoOrganizacion" id="telefonoOrganizacion" ngControl="telefonoOrganizacion"
                [(ngModel)]="_OrganizacionModal1.telefonoOrganizacion" required />
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-lg-4">
        <nb-card>
          <nb-card-body>
            <strong><label>Email</label></strong>
            <div class="form-group">
              <input #emailOrganizacion="ngModel" class="form-control" type="text" placeholder="Email"
                name="emailOrganizacion" id="emailOrganizacion" ngControl="emailOrganizacion"
                [(ngModel)]="_OrganizacionModal1.emailOrganizacion" />
            </div>
            <strong><label>Departamento de la Organizacion</label></strong>
            <div class="form-group">
              <input #deptoReferencia="ngModel" class="form-control" type="text"
                placeholder="Departamento de la Organizacion" name="deptoReferencia" id="deptoReferencia"
                ngControl="deptoReferencia" [(ngModel)]="_OrganizacionModal1.deptoReferencia" required />
            </div>
            <strong><label>Contacto de Referencia</label></strong>
            <div class="form-group">
              <input #contactoReferencia="ngModel" class="form-control" type="text"
                placeholder="Departamento de la Organizacion" name="contactoReferencia" id="contactoReferencia"
                ngControl="contactoReferencia" [(ngModel)]="_OrganizacionModal1.contactoReferencia" required />
            </div>
            <fieldset class="fieldCheck">
              <div class="demo-checkboxes">
                <strong>
                  <nb-checkbox (change)="toggleVisibility($event)" #socioDesarrollo="ngModel" type="checkbox"
                    [(ngModel)]="_OrganizacionModal1.socioDesarrollo" name="socioDesarrollo" id="socioDesarrollo">Socio en
                    Desarrollo</nb-checkbox>
                </strong>
                <strong>
                  <nb-checkbox (change)="toggleVisibility1($event)" #agenciaBeneficiaria="ngModel" type="checkbox"
                    [(ngModel)]="_OrganizacionModal1.agenciaBeneficiaria" name="agenciaBeneficiaria"
                    id="agenciaBeneficiaria">Agencia Beneficiaria</nb-checkbox>
                </strong>
                <strong>
                  <nb-checkbox (change)="toggleVisibilit2($event)" #unidadEjecutora="ngModel" type="checkbox"
                    [(ngModel)]="_OrganizacionModal1.unidadEjecutora" name="unidadEjecutora" id="unidadEjecutora">Unidad
                    Ejecutora</nb-checkbox>
                </strong>
                <strong>
                  <nb-checkbox (change)="toggleVisibilit3($event)" #administradorFinanciero="ngModel" type="checkbox"
                    [(ngModel)]="_OrganizacionModal1.administradorFinanciero" name="administradorFinanciero"
                    id="administradorFinanciero">Administrador Financiero</nb-checkbox>
                  <strong>
                    <nb-checkbox (change)="toggleVisibilit4($event)" #activo="ngModel" type="checkbox"
                      [(ngModel)]="_OrganizacionModal1.activo" name="activo" id="activo">Estado del Proyecto</nb-checkbox>
                  </strong>
                </strong>
              </div>
            </fieldset>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-lg-4">
        <nb-card>
          <nb-card-body>
            <strong><label>Web de la Organizacion</label></strong>
            <div class="form-group">
              <input #webOrganizacion="ngModel" class="form-control" type="text" placeholder="Web de la Organizacion"
                name="webOrganizacion" id="webOrganizacion" ngControl="webOrganizacion"
                [(ngModel)]="_OrganizacionModal1.webOrganizacion" required />
            </div>
            <div class="form-group">
              <strong><label>Elija un Tipo De Organizacion</label></strong>
              <select name="idTipoOrganizacion1" id="idTipoOrganizacion1" ngControl="idTipoOrganizacion1"
                class="form-control" [(ngModel)]="_OrganizacionModal1.idTipoOrganizacion1" required>
                <option value="0">Seleccione una Opcion</option>
                <option *ngFor="let item of JsonReceptionTipoPerfiles" [value]="item.idTipoOrganizacion">
                  {{item.descTipoOrganizacion}}
                </option>
              </select>
            </div>
            <strong> <label>País Organización</label> </strong>
            <angular2-multiselect [data]="dropdownListPais" [(ngModel)]="selectedItemsPais" [settings]="dropdownSettings"
              (onSelect)="onItemSlectPais($event)" required></angular2-multiselect>
            <div class="form-group">
              <strong><label>Categoria de la Organizacion</label></strong>
              <select name="idCatOrganizacion1" id="idCatOrganizacion1" ngControl="idCatOrganizacion1"
                class="form-control" [(ngModel)]="_OrganizacionModal1.idCatOrganizacion1" required>
                <option value="0">Seleccione una Opcion</option>
                <option *ngFor="let item of JsonCategoria" [value]="item.idCatOrganizacion">
                  {{item.descCatOrganizacion}}></option>
              </select>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-md btn-primary" (click)="UpdateOrganizacion()" >Guardar los Cambios</button>
  </div>
