<!-- Maquetacion de los Setores de Campos Transversales -->
<!-- Componente para los Mensajes en pantalla -->
<toaster-container></toaster-container>
<p-confirmDialog header="Eliminar Campos Transversales" icon="pi pi-exclamation-triangle" width="425">
</p-confirmDialog>

<!-- Agrupacion de la Informacion de Sectores Campos Transversales -->
<p-fieldset legend="Campos Transversales" [toggleable]="true" class="fieldSet">
  <nb-card accent="warning" status="primary">
    <nb-card-body>
      <div class="row">
        <div class="col-sm-6">
          <h4>Selecciona los Sectores | Campos Transversales</h4>
          <input type="text" class="form-control txtsearch" name="queryString" [(ngModel)]="queryString"
            placeholder="Buscar Sector">
          <br>
          <p-tree [style]="{'width': '100%'}" [value]="filesTree4 | filter: queryString" selectionMode="checkbox"
            (onNodeUnselect)="nodeUnselect($event)"  (onNodeSelect)="nodeSelect($event)"
            dynamic="true"></p-tree>
          <br>
          <div><span *ngFor="let file of selectedFiles2">{{file.parent.data}} </span></div>
        </div>

        <div class="col-sm-6">
          <h4>Campos Transversales seleccionados</h4>
          <p-listbox [options]="JsonSendSectoresCampoTransversalOpciones" [style]="{'width': '100%'}"
            [(ngModel)]="selectedCities" multiple="multiple" filter="filter" optionLabel="name">
            <p-header>
              <i class="fa fa-file"></i>
              Confirma cuales sectores deben de registrarse...
            </p-header>
            <ng-template let-Transversales pTemplate="item">
              <div class="ui-helper-clearfix">
                <span style="float:left">{{Transversales.label}}</span>
                <input style="float: right; width: 15%; height: 10px; text-align: center" class="form-control"
                  type="text" severity="error" pInputText pKeyFilter="int" placeholder="%" maxlength="2"
                  value="{{Transversales.value.otro}}" (keyup)="validaPercent($event, Transversales.value.code)">
                <img style="float: right;" src="../../../../../../assets/icons/forms/rubbish-bin_24x.png" alt="Delete"
                  (click)="confirm(Transversales.value.code)">
              </div>
            </ng-template>
          </p-listbox>
          <hr>
          <div class="icon-button-examples">
            <!-- Boton de limpiar listado Campos Transversales -->
            <button type="button" class="btn btn-outline-danger btn-icon" nbPopover="Limpia el listado de Campos Transversales"
              nbPopoverMode="hint" nbPopoverPlacement="top" (click)="cleanSectoresCamposTransversales()">
              <i class="ion-trash-a"></i>
            </button>

            <!-- Boton para Calcular los Porcentajes Sectores Campos Transversales-->
            <button type="button" class="btn btn-outline-success btn-icon" (click)="calcularPercent()"
              nbPopover="Calcula el % de participacion de Sectores Campos Transversales" nbPopoverMode="hint" nbPopoverPlacement="top">
              <i class="ion-calculator"></i>
            </button>

            <!-- Boton para Grabar Campos Transversales -->
            <button type="button" class="btn btn-outline-primary btn-icon"
              nbPopover="Registra los sectores de Campos Transversales" nbPopoverMode="hint" nbPopoverPlacement="top"
              (click)="saveSectoresCampoTransversal()">
              <i class="ion-upload"></i>
            </button>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</p-fieldset>
