@import '../../../../../../@theme/styles/themes';

@include nb-install-component() {

  nb-card-body {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .picture {
    background-position: center;
    background-size: cover;
    position: relative;
    border-top-left-radius: nb-theme(card-border-radius);
    border-top-right-radius: nb-theme(card-border-radius);
    flex: 1;
  }

  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }

  nb-card-header {
    background-color: #204f85;
    color: rgb(255, 255, 255);
    font-size: 17px;
  }

  btn-nam {
    background-color: #204f85;
    color: rgb(243, 239, 233);
    font-size: 15px;
  }
  .details {
    padding: 1.25rem 1.25rem 0;

    .title {
      font-family: nb-theme(font-secondary);
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(color-fg-heading);
      font-size: 1.5rem;
      margin-bottom: 1rem;

      @include nb-for-theme(cosmic) {
        font-weight: nb-theme(font-weight-bolder);
      }
    }

    .description {
      text-align: justify;
      color: nb-theme(color-fg-text);
      font-weight: nb-theme(font-weight-light);

      overflow: hidden;
      text-overflow: ellipsis;
      max-height: calc(1rem * 8 * #{nb-theme(line-height)});
    }
  }

  nb-card-footer {
    display: flex;
    justify-content: space-around;
    padding: 0.75rem 0;
    border: none;

    a {
      text-decoration: none;
      color: nb-theme(color-fg);

      &:hover {
        color: nb-theme(color-fg-heading);
      }

      i {
        font-size: 1.75rem;
      }
    }
  }

  nb-card-front {
    border: solid black 1px;
  }

  .imgOds {
    width: 95%;
    height: 95%;
    margin-left: 3%;
    border-radius: 10px;
    cursor: pointer;
  }

  .imgOds:hover {
    width: 100%;
    margin-left: 0%;
    border-radius: 15px;
    box-shadow: #204f85 15px;
    transition-delay: 0.3s;
  }

  .div1 {
    width: 80%;
  }
}
