<!-- Maquetacion de los ODS del Proyecto -->
<!-- Componente para los Mensajes en pantalla -->
<!-- <toaster-container [toasterconfig]="config"></toaster-container> -->

<!-- ==================================================================================== -->
<!-- Agrupacion de la Informacion de Sectores de Gobierno -->
<p-fieldset legend="Objetivos de Desarrollo Sostenible" [toggleable]="true" class="fieldSet">
  <nb-card accent="warning" status="primary">
    <nb-card-body>
      <br>
      <div class="row">
        <!-- Tarjeta para el OSD 1 -->
        <div class="col-xxxl-1 col-xxl-1 col-sm-6 col-md-2">
          <nb-card>
            <nb-card-body>
              <img src="../../../../../../assets/images/ods/ods_1.PNG" class="imgOds" alt="">
            </nb-card-body>

            <nb-card-footer>
              <a routerLink="/pages/mantenimientos/mant-espacios-trabajo/grupo-trabajo"
                nbPopover="Selecciona la Meta del ODS 1" nbPopoverMode="hint">
                <i class="ion-clipboard"></i>
              </a>
              <a href="https://www.un.org/sustainabledevelopment/es/poverty/" target="_blanck"
                nbPopover="Ver Información del ODS 1" nbPopoverMode="hint">
                <i class="ion-archive"></i>
              </a>
            </nb-card-footer>
          </nb-card>
        </div>

        <!-- Tarjeta para el OSD 2 -->
        <div class="col-xxxl-1 col-xxl-1 col-sm-6 col-md-2">
          <nb-card>
            <nb-card-body>
              <img src="../../../../../../assets/images/ods/ods_2.PNG" class="imgOds" alt="">
            </nb-card-body>

            <nb-card-footer>
              <a routerLink="/pages/mantenimientos/mant-espacios-trabajo/grupo-trabajo"
                nbPopover="Selecciona la Meta del ODS 2" nbPopoverMode="hint">
                <i class="ion-clipboard"></i>
              </a>
              <a href="https://www.un.org/sustainabledevelopment/es/hunger/" target="_blanck"
                nbPopover="Ver Información del ODS 2" nbPopoverMode="hint">
                <i class="ion-archive"></i>
              </a>
            </nb-card-footer>
          </nb-card>
        </div>


        <!-- Tarjeta para el OSD 3 -->
        <div class="col-xxxl-1 col-xxl-1 col-sm-6 col-md-2">
          <nb-card>
            <nb-card-body>
              <img src="../../../../../../assets/images/ods/ods_3.PNG" class="imgOds" alt="">
            </nb-card-body>

            <nb-card-footer>
              <a routerLink="/pages/mantenimientos/mant-espacios-trabajo/grupo-trabajo"
                nbPopover="Selecciona la Meta del ODS 3" nbPopoverMode="hint">
                <i class="ion-clipboard"></i>
              </a>
              <a href="https://www.un.org/sustainabledevelopment/es/health/" target="_blanck"
                nbPopover="Ver Información del ODS 3" nbPopoverMode="hint">
                <i class="ion-archive"></i>
              </a>
            </nb-card-footer>
          </nb-card>
        </div>

        <!-- Tarjeta para el OSD 4 -->
        <div class="col-xxxl-1 col-xxl-1 col-sm-6 col-md-2">
          <nb-card>
            <nb-card-body>
              <img src="../../../../../../assets/images/ods/ods_4.PNG" class="imgOds" alt="">
            </nb-card-body>

            <nb-card-footer>
              <a routerLink="/pages/mantenimientos/mant-espacios-trabajo/grupo-trabajo"
                nbPopover="Selecciona la Meta del ODS 4" nbPopoverMode="hint">
                <i class="ion-clipboard"></i>
              </a>
              <a href="https://www.un.org/sustainabledevelopment/es/education/" target="_blanck"
                nbPopover="Ver Información del ODS 4" nbPopoverMode="hint">
                <i class="ion-archive"></i>
              </a>
            </nb-card-footer>
          </nb-card>
        </div>


        <!-- Tarjeta para el OSD 5 -->
        <div class="col-xxxl-1 col-xxl-1 col-sm-6 col-md-2">
          <nb-card>
            <nb-card-body>
              <img src="../../../../../../assets/images/ods/ods_5.PNG" class="imgOds" alt="">
            </nb-card-body>

            <nb-card-footer>
              <a routerLink="/pages/mantenimientos/mant-espacios-trabajo/grupo-trabajo"
                nbPopover="Selecciona la Meta del ODS 5" nbPopoverMode="hint">
                <i class="ion-clipboard"></i>
              </a>
              <a href="https://www.un.org/sustainabledevelopment/es/gender-equality/" target="_blanck"
                nbPopover="Ver Información del ODS 5" nbPopoverMode="hint">
                <i class="ion-archive"></i>
              </a>
            </nb-card-footer>
          </nb-card>
        </div>

        <!-- Tarjeta para el OSD 6 -->
        <div class="col-xxxl-1 col-xxl-1 col-sm-6 col-md-2">
          <nb-card>
            <nb-card-body>
              <img src="../../../../../../assets/images/ods/ods_6.PNG" class="imgOds" alt="">
            </nb-card-body>

            <nb-card-footer>
              <a routerLink="/pages/mantenimientos/mant-espacios-trabajo/grupo-trabajo"
                nbPopover="Selecciona la Meta del ODS 6" nbPopoverMode="hint">
                <i class="ion-clipboard"></i>
              </a>
              <a href="https://www.un.org/sustainabledevelopment/es/water-and-sanitation/" target="_blanck"
                nbPopover="Ver Información del ODS 6" nbPopoverMode="hint">
                <i class="ion-archive"></i>
              </a>
            </nb-card-footer>
          </nb-card>
        </div>


        <!-- Tarjeta para el OSD 7 -->
        <div class="col-xxxl-1 col-xxl-1 col-sm-6 col-md-2">
          <nb-card>
            <nb-card-body>
              <img src="../../../../../../assets/images/ods/ods_7.PNG" class="imgOds" alt="">
            </nb-card-body>

            <nb-card-footer>
              <a routerLink="/pages/mantenimientos/mant-espacios-trabajo/grupo-trabajo"
                nbPopover="Selecciona la Meta del ODS 7" nbPopoverMode="hint">
                <i class="ion-clipboard"></i>
              </a>
              <a href="https://www.un.org/sustainabledevelopment/es/energy/" target="_blanck"
                nbPopover="Ver Información del ODS 7" nbPopoverMode="hint">
                <i class="ion-archive"></i>
              </a>
            </nb-card-footer>
          </nb-card>
        </div>

        <!-- Tarjeta para el OSD 8 -->
        <div class="col-xxxl-1 col-xxl-1 col-sm-6 col-md-2">
          <nb-card>
            <nb-card-body>
              <img src="../../../../../../assets/images/ods/ods_8.PNG" class="imgOds" alt="">
            </nb-card-body>

            <nb-card-footer>
              <a routerLink="/pages/mantenimientos/mant-espacios-trabajo/grupo-trabajo"
                nbPopover="Selecciona la Meta del ODS 8" nbPopoverMode="hint">
                <i class="ion-clipboard"></i>
              </a>
              <a href="https://www.un.org/sustainabledevelopment/es/economic-growth/" target="_blanck"
                nbPopover="Ver Información del ODS 8" nbPopoverMode="hint">
                <i class="ion-archive"></i>
              </a>
            </nb-card-footer>
          </nb-card>
        </div>


        <!-- Tarjeta para el OSD 9 -->
        <div class="col-xxxl-1 col-xxl-1 col-sm-6 col-md-2">
          <nb-card>
            <nb-card-body>
              <img src="../../../../../../assets/images/ods/ods_9.PNG" class="imgOds" alt="">
            </nb-card-body>

            <nb-card-footer>
              <a routerLink="/pages/mantenimientos/mant-espacios-trabajo/grupo-trabajo"
                nbPopover="Selecciona la Meta del ODS 9" nbPopoverMode="hint">
                <i class="ion-clipboard"></i>
              </a>
              <a href="https://www.un.org/sustainabledevelopment/es/infrastructure/" target="_blanck"
                nbPopover="Ver Información del ODS 9" nbPopoverMode="hint">
                <i class="ion-archive"></i>
              </a>
            </nb-card-footer>
          </nb-card>
        </div>

        <!-- Tarjeta para el OSD 10 -->
        <div class="col-xxxl-1 col-xxl-1 col-sm-6 col-md-2">
          <nb-card>
            <nb-card-body>
              <img src="../../../../../../assets/images/ods/ods_10.PNG" class="imgOds" alt="">
            </nb-card-body>

            <nb-card-footer>
              <a routerLink="/pages/mantenimientos/mant-espacios-trabajo/grupo-trabajo"
                nbPopover="Selecciona la Meta del ODS 10" nbPopoverMode="hint">
                <i class="ion-clipboard"></i>
              </a>
              <a href="https://www.un.org/sustainabledevelopment/es/inequality/" target="_blanck"
                nbPopover="Ver Información del ODS 10" nbPopoverMode="hint">
                <i class="ion-archive"></i>
              </a>
            </nb-card-footer>
          </nb-card>
        </div>


        <!-- Tarjeta para el OSD 11 -->
        <div class="col-xxxl-1 col-xxl-1 col-sm-6 col-md-2">
          <nb-card>
            <nb-card-body>
              <img src="../../../../../../assets/images/ods/ods_11.PNG" class="imgOds" alt="">
            </nb-card-body>

            <nb-card-footer>
              <a routerLink="/pages/mantenimientos/mant-espacios-trabajo/grupo-trabajo"
                nbPopover="Selecciona la Meta del ODS 11" nbPopoverMode="hint">
                <i class="ion-clipboard"></i>
              </a>
              <a href="https://www.un.org/sustainabledevelopment/es/cities/" target="_blanck"
                nbPopover="Ver Información del ODS 11" nbPopoverMode="hint">
                <i class="ion-archive"></i>
              </a>
            </nb-card-footer>
          </nb-card>
        </div>

        <!-- Tarjeta para el OSD 12 -->
        <div class="col-xxxl-1 col-xxl-1 col-sm-6 col-md-2">
          <nb-card>
            <nb-card-body>
              <img src="../../../../../../assets/images/ods/ods_12.PNG" class="imgOds" alt="">
            </nb-card-body>

            <nb-card-footer>
              <a routerLink="/pages/mantenimientos/mant-espacios-trabajo/grupo-trabajo"
                nbPopover="Selecciona la Meta del ODS 12" nbPopoverMode="hint">
                <i class="ion-clipboard"></i>
              </a>
              <a href="https://www.un.org/sustainabledevelopment/es/sustainable-consumption-production/"
                target="_blanck"
                nbPopover="Ver Información del ODS 12" nbPopoverMode="hint">
                <i class="ion-archive"></i>
              </a>
            </nb-card-footer>
          </nb-card>
        </div>
      </div>

      <!-- Fila 3 de ODS -->
      <div class="row">
        <!-- Tarjeta para el OSD 13 -->
        <div class="col-xxxl-1 col-xxl-1 col-sm-6 col-md-2">
          <nb-card>
            <nb-card-body>
              <img src="../../../../../../assets/images/ods/ods_13.PNG" class="imgOds" alt="">
            </nb-card-body>

            <nb-card-footer>
              <a routerLink="/pages/mantenimientos/mant-espacios-trabajo/grupo-trabajo"
                nbPopover="Selecciona la Meta del ODS 13" nbPopoverMode="hint">
                <i class="ion-clipboard"></i>
              </a>
              <a href="https://www.un.org/sustainabledevelopment/es/climate-change-2/" target="_blanck"
                nbPopover="Ver Información del ODS 13" nbPopoverMode="hint">
                <i class="ion-archive"></i>
              </a>
            </nb-card-footer>
          </nb-card>
        </div>

        <!-- Tarjeta para el OSD 14 -->
        <div class="col-xxxl-1 col-xxl-1 col-sm-6 col-md-2">
          <nb-card>
            <nb-card-body>
              <img src="../../../../../../assets/images/ods/ods_14.PNG" class="imgOds" alt="">
            </nb-card-body>

            <nb-card-footer>
              <a routerLink="/pages/mantenimientos/mant-espacios-trabajo/grupo-trabajo"
                nbPopover="Selecciona la Meta del ODS 14" nbPopoverMode="hint">
                <i class="ion-clipboard"></i>
              </a>
              <a href="https://www.un.org/sustainabledevelopment/es/oceans/" target="_blanck"
                nbPopover="Ver Información del ODS 14" nbPopoverMode="hint">
                <i class="ion-archive"></i>
              </a>
            </nb-card-footer>
          </nb-card>
        </div>


        <!-- Tarjeta para el OSD 15 -->
        <div class="col-xxxl-1 col-xxl-1 col-sm-6 col-md-2">
          <nb-card>
            <nb-card-body>
              <img src="../../../../../../assets/images/ods/ods_15.PNG" class="imgOds" alt="">
            </nb-card-body>

            <nb-card-footer>
              <a routerLink="/pages/mantenimientos/mant-espacios-trabajo/grupo-trabajo"
                nbPopover="Selecciona la Meta del ODS 15" nbPopoverMode="hint">
                <i class="ion-clipboard"></i>
              </a>
              <a href="https://www.un.org/sustainabledevelopment/es/biodiversity/" target="_blanck"
                nbPopover="Ver Información del ODS 15" nbPopoverMode="hint">
                <i class="ion-archive"></i>
              </a>
            </nb-card-footer>
          </nb-card>
        </div>

        <!-- Tarjeta para el OSD 16 -->
        <div class="col-xxxl-1 col-xxl-1 col-sm-6 col-md-2">
          <nb-card>
            <nb-card-body>
              <img src="../../../../../../assets/images/ods/ods_16.PNG" class="imgOds" alt="">
            </nb-card-body>

            <nb-card-footer>
              <a routerLink="/pages/mantenimientos/mant-espacios-trabajo/grupo-trabajo"
                nbPopover="Selecciona la Meta del ODS 16" nbPopoverMode="hint">
                <i class="ion-clipboard"></i>
              </a>
              <a href="https://www.un.org/sustainabledevelopment/es/peace-justice/" target="_blanck"
                nbPopover="Ver Información del ODS 16" nbPopoverMode="hint">
                <i class="ion-archive"></i>
              </a>
            </nb-card-footer>
          </nb-card>
        </div>


        <!-- Tarjeta para el OSD 17 -->
        <div class="col-xxxl-1 col-xxl-1 col-sm-6 col-md-2">
          <nb-card>
            <nb-card-body>
              <img src="../../../../../../assets/images/ods/ods_17.PNG" class="imgOds" alt="">
            </nb-card-body>

            <nb-card-footer>
              <a routerLink="/pages/mantenimientos/mant-espacios-trabajo/grupo-trabajo"
                nbPopover="Selecciona la Meta del ODS 17" nbPopoverMode="hint">
                <i class="ion-clipboard"></i>
              </a>
              <a href="https://www.un.org/sustainabledevelopment/es/globalpartnerships/" target="_blanck"
                nbPopover="Ver Información del ODS 17" nbPopoverMode="hint">
                <i class="ion-archive"></i>
              </a>
            </nb-card-footer>
          </nb-card>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</p-fieldset>
