<!-- Diseño de la Ventana de Espacio de Trabajo -->
<!-- ==================================================================================== -->
<!-- Componente para los Mensajes en pantalla -->
<toaster-container [toasterconfig]="config"></toaster-container>

<div class="modal-content">
  <nb-card accent="warning" status="primary">
    <nb-card-header>Editar Contacto
      <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </nb-card-header>

    <nb-card-body>
      <div class="row">
        <div class="col-lg-6">
          <nb-card>
            <nb-card-body>
              <div class="row full-name-inputs">
                <div class="col-sm-6 input-group">
                    <strong> <label>Seleccione un Trato o Titulo</label> </strong>
                    <select name="idTrato" id="idTrato" ngControl="idTratoIN"
                    class="form-control" [(ngModel)]="_contactosModel1.idTratoIN" required>
                    <option value="0">Seleccione una Opcion</option>
                    <option *ngFor="let item of JsonReceptionTratos" [value]="item.idTrato">
                      {{item.descTrato}}</option>
                  </select>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Codigo Contacto" class="form-control" name="codigoContacto"
                    id="codigoContacto" [(ngModel)]="_contactosModel1.codigoContacto" disabled required />
                </div>
                <div class="col-sm-6 input-group">
                    <input type="text" placeholder="Nombre Contacto " class="form-control" name="nombreContacto"
                      id="nombreContacto" [(ngModel)]="_contactosModel1.nombreContacto" required >
                  </div>
                  <div class="col-sm-6 input-group">
                      <input type="text" placeholder="Apellido Contacto" class="form-control" name="apellidoContacto"
                        id="apellidoContacto" [(ngModel)]="_contactosModel1.apellidoContacto" required>
                    </div>
              </div>
              <div class="input-group">
               <input type="text" placeholder="Funcion del Contacto" class="form-control" name="FuncionContacto"
                  id="FuncionContacto"  [(ngModel)]="_contactosModel1.funcionContacto" required />
              </div><br>
              <div class="input-group">
               <input type="text" placeholder="Organizacion Contacto" class="form-control" name="organizacionContacto"
                  id="organizacionContacto"  [(ngModel)]="_contactosModel1.organizacionContacto" required  />
                 </div><br>
               <div class="input-group">
                  <textarea rows="3" placeholder="Direcion fisica Contacto" class="form-control" [(ngModel)]="_contactosModel1.dFisicaContacto" required></textarea>
                   </div>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-lg-6">
            <nb-card>
                <nb-card-body>
                <div class="row full-name-inputs">
                    <div class="col-sm-6 input-group">
                        <input type="text" placeholder="Email1" class="form-control" name="email1Contacto"
                          id="email1Contacto" [(ngModel)]="_contactosModel1.email1Contacto" >
                      </div>

                      <div class="col-sm-6 input-group">
                          <input type="text" placeholder="Email2" class="form-control" name="email2Contacto"
                            id="email2Contacto" [(ngModel)]="_contactosModel1.email2Contacto" >
                        </div>

                        <div class="col-sm-6 input-group">
                            <input type="text" placeholder="Telefono1" class="form-control" name="telefono1Contacto"
                              id="telefono1Contacto" [(ngModel)]="_contactosModel1.telefono1Contacto" >
                          </div>

                          <div class="col-sm-6 input-group">
                              <input type="text" placeholder="Telefon2" class="form-control" name="telefono2Contacto"
                                id="telefono2Contacto" [(ngModel)]="_contactosModel1.telefono2Contacto" >
                            </div>
                    <div class="col-sm-6 input-group">
                      <input type="text" placeholder="Extencion1" class="form-control" name="ext1Contacto"
                        id="ext1Contacto" [(ngModel)]="_contactosModel1.ext1Contacto" >
                    </div>
                    <div class="col-sm-6 input-group">
                        <input type="text" placeholder="Extencion2" class="form-control" name="ext2Contacto"
                          id="ext2Contacto" [(ngModel)]="_contactosModel1.ext2Contacto" >
                      </div>
                      </div>
                <strong> <label>Seleccione una Organizacion</label> </strong>
                <select name="idOrganizacion" id="idOrganizacion" ngControl="idOrgIN"
                class="form-control" [(ngModel)]="_contactosModel1.IdOrgIN" required>
                <option value="0">Seleccione una Opcion</option>
                <option *ngFor="let item of JsonReceptionOrg" [value]="item.idOrganizacion">
                  {{item.descOrganizacion}}</option>
              </select>
                </nb-card-body>
              </nb-card>
        </div>
      </div>
    </nb-card-body>
  </nb-card>

  <div class="modal-footer">
    <button type="button" (click)="UpdateContactos()" class="btn btn-primary">Guardar
      Cambios</button>
    <button type="button" (Click)="closeModal()" class="btn btn-danger">Cerrar</button>
  </div>
</div>
