<div class="row">
  <!-- Tarjeta para el Mantenimiento de Usuarios -->
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <!-- <nb-card size="medium"> -->
    <nb-card>
      <nb-card-body>
        <!-- <div class="picture" style.background-image="url('../../../../assets/images/kitten-{{currentTheme}}.png')"></div> -->
        <div class="details">
          <div class="title">
            Mantenimiento de Usuarios | <i class="ion-person-add"></i>
          </div>
          <div class="description">
            Mantenimiento de usuarios contiene la busqueda de usuarios y tambien las consultas debidas que el usuario
            requiera y las acciones de agregar, actualizar y deshabilitar.
          </div>
        </div>
      </nb-card-body>

      <nb-card-footer>
        <a routerLink="/pages/mantenimientos/mant-seguridad/usuarios" title="Nuevo Usuario">
          <i class="ion-person-add"></i>
        </a>
        <!--<a href="https://itunes.apple.com/us/app/kitten-tricks/id1246143230" target="_blank" title="Deshabilitar Usuario">
          <i class="ion-trash-b"></i>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank" title="Editar Usuario">
          <i class="ion-settings"></i>
      </a> -->
    </nb-card-footer>
    </nb-card>
  </div>

  <!-- Tarjeta para el Mantenimiento de Perfiles -->
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <!-- <nb-card size="medium"> -->
    <nb-card>
      <nb-card-body>
        <!-- <div class="picture" style.background-image="url('../../../../assets/images/kitten-{{currentTheme}}.png')"></div> -->
        <div class="details">
          <div class="title">
            Mantenimiento de Perfiles | <i class="ion-funnel"></i>
          </div>
          <div class="description">
            Mantenimientos de perfiles contiene la busqueda de perfiles y tambien las consultas debidas que el usuarios
            administrador requiera y las acciones de agregar actualiazar he inhabilitar.
          </div>
        </div>
      </nb-card-body>

      <nb-card-footer>
        <a routerLink="/pages/mantenimientos/mant-seguridad/perfiles" title="Nuevo Perfil de Usuario">
          <i class="ion-person-add"></i>
        </a>
       <!-- <a href="https://itunes.apple.com/us/app/kitten-tricks/id1246143230" target="_blank" title="Deshabilitar Usuario">
          <i class="ion-trash-b"></i>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank" title="Editar Usuario">
          <i class="ion-settings"></i>
        </a> -->
      </nb-card-footer>
    </nb-card>
  </div>


  <!-- Tarjeta para el Mantenimiento de xxxx -->
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <!-- <nb-card size="medium"> -->
    <nb-card>
      <nb-card-body>
        <!-- <div class="picture" style.background-image="url('../../../../assets/images/kitten-{{currentTheme}}.png')"></div> -->
        <div class="details">
          <div class="title">
            Asignar Espacio de Trabajo | <i class="ion-archive"></i>
          </div>
          <div class="description">
            Asignacion de un espacio de trabajo, contiene la busqueda de los espacios respectivos y las
            consultas debidas que el usuario requiera y las acciones de agregar, actualizar y deshabilitar
          </div>
        </div>
      </nb-card-body>
 
      <nb-card-footer>
        <a routerLink="/pages/mantenimientos/mant-espacios-trabajo/espacios-trabajo" title="Crear o Editar Espacio de Trabajo">
          <i class="ion-person-add"></i>
        </a>
       <!--  <a href="https://itunes.apple.com/us/app/kitten-tricks/id1246143230" target="_blank" title="Deshabilitar Usuario">
          <i class="ion-trash-b"></i>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank" title="Nuevo Usuario">
          <i class="ion-settings"></i>
      </a> -->
    </nb-card-footer>
    </nb-card>
  </div>

</div>

<!-- Consultas de los Mantenimientos

<div class="row">

  <!-- Tarjeta para el Mantenimiento de Perfiles
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <!-- <nb-card size="medium">
    <nb-card>
      <nb-card-body>
        <!-- <div class="picture" style.background-image="url('../../../../assets/images/kitten-{{currentTheme}}.png')"></div>
        <div class="details">
          <div class="title">
            Consulta de Perfiles | <i class="ion-funnel"></i>
          </div>
          <div class="description">
            React Native UI Kitten is a framework that contains a set of commonly used UI components styled in a
            similar
            way. The most awesome thing: you can change themes on the fly by just passing a different set of variables.
            100% native. Give our kitten a try!
          </div>
        </div>
      </nb-card-body>

      <nb-card-footer>
        <a href="https://akveo.github.io/react-native-ui-kitten" target="_blank" title="Nuevo Usuario">
          <i class="ion-person-add"></i>
        </a>
        <a href="https://itunes.apple.com/us/app/kitten-tricks/id1246143230" target="_blank" title="Deshabilitar Usuario">
          <i class="ion-trash-b"></i>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank" title="Editar Usuario">
          <i class="ion-settings"></i>
        </a>
      </nb-card-footer>
    </nb-card>
  </div>


  <!-- Tarjeta para el Mantenimiento de xxxx
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">-->
    <!-- <nb-card size="medium">
    <nb-card> -->
     <!-- <nb-card-body>
         <div class="picture" style.background-image="url('../../../../assets/images/kitten-{{currentTheme}}.png')"></div> 
        <div class="details">
          <div class="title">
            Consulta de XXXX | <i class="ion-archive"></i>
          </div>
          <div class="description">
            React Native UI Kitten is a framework that contains a set of commonly used UI components styled in a
            similar
            way. The most awesome thing: you can change themes on the fly by just passing a different set of variables.
            100% native. Give our kitten a try!
          </div>
        </div>
      </nb-card-body> -->
<!--
      <nb-card-footer>
        <a href="https://akveo.github.io/react-native-ui-kitten" target="_blank" title="Nuevo Usuario">
          <i class="ion-person-add"></i>
        </a>
        <a href="https://itunes.apple.com/us/app/kitten-tricks/id1246143230" target="_blank" title="Deshabilitar Usuario">
          <i class="ion-trash-b"></i>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank" title="Editar Usuario">
          <i class="ion-settings"></i>
        </a>
      </nb-card-footer>

    </nb-card>
  </div>
-->

  <!-- Tarjeta para el Mantenimiento de XXXX
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">-->
    <!-- <nb-card size="medium">
    <nb-card>-->
      <!--
      <nb-card-body>
       <div class="picture" style.background-image="url('../../../../assets/images/kitten-{{currentTheme}}.png')"></div>
        <div class="details">
          <div class="title">
            Consulta de XXXX | <i class="ion-scissors"></i>
          </div>
          <div class="description">
            React Native UI Kitten is a framework that contains a set of commonly used UI components styled in a
            similar
            way. The most awesome thing: you can change themes on the fly by just passing a different set of variables.
            100% native. Give our kitten a try!
          </div>
        </div>
      </nb-card-body>
 
      <nb-card-footer>
        <a href="https://akveo.github.io/react-native-ui-kitten" target="_blank" title="Nuevo Usuario">
          <i class="ion-person-add"></i>
        </a>
        <a href="https://itunes.apple.com/us/app/kitten-tricks/id1246143230" target="_blank" title="Deshabilitar Usuario">
          <i class="ion-trash-b"></i>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank" title="Editar Usuario">
          <i class="ion-settings"></i>
        </a>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
-->