@import '../../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';


@include nb-install-component() {
  nb-tabset {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  nb-tab {
    padding: nb-theme(padding);
  }

  /deep/ ngx-tab1,
  /deep/ ngx-tab2 {
    display: block;
    padding: nb-theme(padding);
  }

  @include media-breakpoint-down(xs) {
    nb-tabset /deep/ul {
      font-size: 1rem;
      padding: 0 0.25rem;
    }
  }

  /*
Seccion de formularios
  */
  .input-group {
    margin-bottom: 1rem;
  }

  .validation-checkboxes {
    display: flex;
    justify-content: space-between;

    .custom-control {
      margin-left: 1rem;
    }
  }

  .demo-checkboxes {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .demo-radio {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .demo-disabled-checkbox-radio {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .demo-checkboxes-radio {
    display: flex;
    justify-content: space-between;
  }

  .demo-rating {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .star {
    font-size: 1.5rem;
    color: nb-theme(color-fg);
  }

  .filled {
    color: nb-theme(color-fg);
  }

  // TODO: Replace with the card header styles mixin
  .rating-header {
    line-height: 2rem;
    font-size: 1.25rem;
    font-family: nb-theme(font-secondary);
    font-weight: nb-theme(font-weight-bolder);
    color: nb-theme(color-fg-heading);
  }

  .current-rate {
    font-size: 1.5rem;
    @include nb-ltr(padding-left, 1rem);
    @include nb-rtl(padding-right, 1rem);
    color: nb-theme(color-fg-heading);
  }

  .full-name-inputs {
    display: flex;
  }

  .input-group.has-person-icon {
    position: relative;

    .form-control {

      padding-left: 3rem;
    }

    &::before {
      content: '\F47D';
      font-family: 'Ionicons';
      font-size: 2rem;
      position: absolute;
      z-index: 100;
      left: 1rem;
      top: 0.25rem;
    }
  }

  .dropdown {
    min-width: 7rem;
  }

  .dropdown-menu {
    width: auto;
  }

  .form-group label {
    padding: 0 0 0.75rem;
  }

  ngb-rating {
    outline: none;
  }

  /* Validaciones de los Campos */
  .ng-valid[required] {
    border-left: 5px solid #42a948;
    /* green */
  }

  .ng-invalid.ng-touched:not(form) {
    border-left: 5px solid #a94442 !important;
    /* red */
    border-color: #a94442 !important;
    /* red */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(169, 68, 66, 0.6) !important;
  }
}
.ng2-smart-filter select {
  height: calc(2rem + 4px) !important;
  padding: 0 10px !important;
}


// Estilo de Checkbox
.fieldCheck {
    border: #dadfe6 solid 2px;
  padding: 5px 10px 10px;
}

// estilo de la tabla
.tHeadTable {
  height: 50px;
}
.tHeadSearch {
  border: none;
}
.pointerMouse {
  cursor: pointer;
}
// Clase de Select Local
.comboSea {
  height: calc(2rem + 20px);
  width: 100%;
  display: block;
  // padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #dadfe6;
  border-radius: 0.25rem;
  border-color: #dadfe6;
  transition: border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out;
}
hr {
  height: 2px;
  background-color: #204f85;
}
// Estilos de Botones
.botonSpecial {
  background-color: #204f85;
  margin-left: 2px;
}

.botonSave {
  background-color: #204f85;
  cursor: pointer;
}

.botonSave:hover {
  background-color: #1f6abe;
  cursor: pointer;
}
