<div class="row">
    <div class="col-1 col-sm-5 col-md-12">
            <h2 class="title">CHANGES PASSWORD</h2> <br>
            <small class="form-text sub-title">Hola! quieres cambiar tu contraceña! introduce tu nueva contraseñaL</small>
    
    </div><br>
    
    <div class="col-12 col-sm-6 col-md-12">

            <br><br><br>
            <div class="form-group">
               
                    <form (ngSubmit)="UPrestpassword()" #form="ngForm" autocomplete="nope">
                    <input name="passwordUsuario" [(ngModel)]="user.passwordUsuario" type="password" id="float-input"
                           class="form-control"  #passwordUsuario="ngModel"  placeholder="New Password"
                           [class.form-control-danger]="passwordUsuario.invalid && passwordUsuario.touched"
                           [required]="getConfigValue('forms.validation.password.required')"
                           [minlength]="getConfigValue('forms.validation.password.minLength')"
                           [maxlength]="getConfigValue('forms.validation.password.maxLength')" pInputText>
                         
                          
                    <small class="form-text error" *ngIf="passwordUsuario.invalid && passwordUsuario.touched &&
                        passwordUsuario.errors?.required">
                      Password es requerido!
                    </small>
                    <small
                      class="form-text error"
                      *ngIf="passwordUsuario.invalid && passwordUsuario.touched && (passwordUsuario.errors?.minlength ||
                          passwordUsuario.errors?.maxlength)">
                      Password debe contener
                      almenos {{ getConfigValue('forms.validation.password.minLength') }}
                      a {{ getConfigValue('forms.validation.password.maxLength') }}
                      caracteres
                    </small> <br><br>
    

                    <input name="passwordUsuario" [(ngModel)]="user.passwordUsuario" type="password" id="input-password"
                           class="form-control" placeholder="Confirm Password"
                           [class.form-control-danger]="passwordUsuario.invalid && passwordUsuario.touched"
                           [required]="getConfigValue('forms.validation.password.required')"
                           [minlength]="getConfigValue('forms.validation.password.minLength')"
                           [maxlength]="getConfigValue('forms.validation.password.maxLength')">
                    <small class="form-text error" *ngIf="passwordUsuario.invalid && passwordUsuario.touched &&
                        passwordUsuario.errors?.required">
                      Password es requerido!
                    </small>
                    <small
                      class="form-text error"
                      *ngIf="passwordUsuario.invalid && passwordUsuario.touched && (passwordUsuario.errors?.minlength ||
                          passwordUsuario.errors?.maxlength)">
                      Password debe contener
                      almenos {{ getConfigValue('forms.validation.password.minLength') }}
                      a {{ getConfigValue('forms.validation.password.maxLength') }}
                      caracteres
                    </small><br><br>

                  <button [disabled]="submitted || !form.valid" class="btn btn-block btn-hero-success"
                          [class.btn-pulse]="submitted">

                   CHANGE PASSWORD
                  </button>
                </form>
          </div>

</div>