<!-- Maquetacion de los Sectores del Proyecto -->
<!-- ======================================== -->
<!-- Diagramacion de Pantallas -->
<nb-card accent="warning" status="primary">
  <nb-card-header>Información de Sectores del Proyecto
  </nb-card-header>
  <nb-card-body>
    <!-- ======== Objetivos de Desarrollo Sostenible ============ -->
    <ngx-ods [idProyectoTab]="idProyectoTab" [idUsuarioTab]="idUsuarioTab" [codigoProyectoTab]="codigoProyectoTab">
    </ngx-ods>

    <br>
    <hr>
    <!-- ================ Sectores Ocde/Cad ==================== -->
    <ngx-sectores-ocde [idProyectoTab]="idProyectoTab" [idUsuarioTab]="idUsuarioTab"
      [codigoProyectoTab]="codigoProyectoTab"></ngx-sectores-ocde>

    <br>
    <hr>
    <!-- ================ Sectores de Gobierno ================= -->
    <ngx-sectores-gobierno [idProyectoTab]="idProyectoTab" [idUsuarioTab]="idUsuarioTab"
      [codigoProyectoTab]="codigoProyectoTab"></ngx-sectores-gobierno>

    <br>
    <hr>
    <!-- ================ Campos Transversales ================== -->
    <ngx-sectores-campos-transversales [idProyectoTab]="idProyectoTab" [idUsuarioTab]="idUsuarioTab"
      [codigoProyectoTab]="codigoProyectoTab"></ngx-sectores-campos-transversales>

  </nb-card-body>
</nb-card>
