@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/deep/ nb-card.popover-card {
  margin-bottom: 0;
  width: 300px;
  box-shadow: none;
}

@include nb-install-component() {
  nb-tabset {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  nb-tab {
    padding: nb-theme(padding);
  }

  /deep/ ngx-tab1,
  /deep/ ngx-tab2 {
    display: block;
    padding: nb-theme(padding);
  }

  @include media-breakpoint-down(xs) {
    nb-tabset /deep/ul {
      font-size: 1rem;
      padding: 0 0.25rem;
    }
  }

  .full-width {
    flex: 1;
    min-width: 220px;
  }

  nb-checkbox {
    margin-bottom: 1rem;
  }

  .form-inline > * {
    @include nb-ltr(margin, 0 1.5rem 1.5rem 0);
    @include nb-rtl(margin, 0 0 1.5rem 1.5rem);
  }

  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }

  nb-card-header {
    background-color: #204f85;
    color: rgb(255, 255, 255);
    font-size: 15px;
  }

  btn-nam {
    background-color: #204f85;
    color: rgb(243, 239, 233);
    font-size: 15px;
  }

  /* Validaciones de los Campos */
  .ng-valid[required] {
    border-left: 5px solid #42a948;
    /* green */
  }

  .ng-invalid.ng-touched:not(form) {
    border-left: 5px solid #a94442 !important;
    /* red */
    border-color: #a94442 !important;
    /* red */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(169, 68, 66, 0.6) !important;
  }

  .input-group.has-person-icon {
    position: relative;

    .form-control {

      padding-left: 3rem;
    }

    &::before {
      content: '\F47D';
      font-family: 'Ionicons';
      font-size: 2rem;
      position: absolute;
      z-index: 100;
      left: 1rem;
      top: 0.25rem;
    }
  }

  // Smart table style
  .ng2-smart-filter select {
    height: calc(2rem + 4px) !important;
    padding: 0 10px !important;
  }

  table-cell-default-editor select-editor select {
    height: calc(2rem + 8px) !important;
    padding: 0 10px !important;
  }

  // Estilos de Botones
  .botonSpecial {
    background-color: #204f85;
    margin-left: 5px;
  }

  .botonSave {
    background-color: #204f85;
  }

  .pointerMouse {
    cursor: pointer;
  }

}
