<!-- Area de Donde esta Ubicado el Usuario -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink = "./">Inicio</a>
    </li>
    <li class="breadcrumb-item">
      <a  routerLink = "./">Actividades</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Ingreso de Actividad</li>
  </ol>
</nav>

<!-- Tarjetas para Agrupar los Datos de Ingreso de la Actvidad/Proyecto -->
<div class="row">
  <div class="col-12 col-sm-6 col-md-8 col-lg-12">
    <nb-card>
      <nb-tabset fullWidth>
        <!-- Tab #1 de Datos Generales del Proyecto/Programa -->
        <nb-tab tabTitle="Paso #1 | Datos Generales">          
          <nb-card-header>Ingresa los datos generales del Proyecto/Programa</nb-card-header><br>
          <nb-card-body>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-8">
                <div class="form-group">
                  <label for="inputFirstName">Nombre del Proyecto/Programa</label>
                  <input type="text" class="form-control" id="inputFirstName" placeholder="Nombre del Proyecto/Programa">
                </div>
              </div>
              <div class="col-6 col-md-4">
                <div class="form-group">
                  <label>Espacio de Trabajo</label>
                  <select class="form-control">
                    <option value="0">******** Selecciona el Espacio de Trabajo ********</option>
                    <option value="1">Espacio #1</option>
                    <option value="2">Espacio #2</option>
                    <option value="3">Espacio #3</option>
                    <option value="4">Espacio #4</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputEmail">Email</label>
                  <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputWebsite">Website</label>
                  <input type="text" class="form-control" id="inputWebsite" placeholder="Website">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputEmail">Email</label>
                  <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputWebsite">Website</label>
                  <input type="text" class="form-control" id="inputWebsite" placeholder="Website">
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

            <nb-card accent="info">
              <nb-card-header>Datos Generales NAM</nb-card-header>
              <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases. Originally, nebula was a name for any
                diffuse astronomical object, including galaxies beyond the Milky Way.
              </nb-card-body>
            </nb-card>
            
            <nb-card accent="danger">
              <nb-card-header>Nebula</nb-card-header>
              <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases. Originally, nebula was a name for any
                diffuse astronomical object, including galaxies beyond the Milky Way.
              </nb-card-body>
            </nb-card>
            
            <nb-card accent="primary" status="warning">
              <nb-card-header>Nebula</nb-card-header>
              <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases. Originally, nebula was a name for any
                diffuse astronomical object, including galaxies beyond the Milky Way.
              </nb-card-body>
            </nb-card>

          </nb-card-body>
        </nb-tab>


        <nb-tab tabTitle="Paso #2 | Sectores y Programas">
          <span>Content #2</span>
        </nb-tab>
        <nb-tab tabTitle="Paso #3 | Información Financiera">
          <span>Content #3</span>
        </nb-tab>
      <nb-tab tabTitle="Paso #4 | Datos de Ubicación">
        <span>Content #4</span>
      </nb-tab>
      <nb-tab tabTitle="Paso #5 | Documentos de Soporte">
        <span>Content #5</span>
      </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>
