<!-- Maquetacion de las Organizaciones de Administrador Financiero -->
<!-- Componente para los Mensajes en pantalla -->
<!-- <toaster-container [toasterconfig]="config"></toaster-container> -->

<p-confirmDialog header="Eliminar Socio al Desarrollo" icon="pi pi-exclamation-triangle" width="425">
</p-confirmDialog>


<!-- Agrupacion de la Informacion de Administrador Financiero -->
<p-fieldset legend="Administrador Financiero" [toggleable]="true" [styleClass]="fieldSet" [collapsed]="true">
  <nb-card accent="warning" status="primary">
    <nb-card-body>
      <div class="row">
        <div class="col-sm-6">
          <h4>Selecciona | Administrador Financiero</h4>
          <angular2-multiselect [data]="dropdownListAdmonFinanciero" [(ngModel)]="selectedItemsAdmonFinanciero" [settings]="dropdownSettings"
            (onSelect)="OnItemSelectAdmonFinanciero($event)"></angular2-multiselect>
        </div>

        <div class="col-sm-6">
          <h4>Administrador Financiero seleccionados</h4>
          <p-listbox [options]="JsonSendAdmonFinanciero" [style]="{'width': '100%'}" [(ngModel)]="selectedCities" multiple="multiple"
            filter="filter" optionLabel="name">
            <p-header>
              <i class="fa fa-file"></i>
              Confirma cuales Administrador Financiero deben de registrarse...
            </p-header>
            <ng-template let-Admon pTemplate="item">
              <div class="ui-helper-clearfix">
                <span style="float:left">{{Admon.label}}</span>
                <input style="float: right; width: 15%; height: 10px; text-align: center" class="form-control" type="text" severity="error"
                  pInputText pKeyFilter="int" placeholder="%" maxlength="2" value="{{Admon.value.otro}}" (keyup)="validaPercent($event, Admon.value.code)">
                  <img style="float: right;" src="../../../../../../assets/icons/forms/rubbish-bin_24x.png" alt="Delete"
                  (click)="confirm3(Admon.value.code)">
              </div>
            </ng-template>
          </p-listbox>

          <hr>
          <div class="icon-button-examples">
            <!-- Boton de Calcular Porcentajes -->
            <button type="button" class="btn btn-outline-danger btn-icon" nbPopover="Limpia el listado de Administrador Financiero" nbPopoverMode="hint"
              nbPopoverPlacement="top" (click)="cleanAllAdmonFinanciero()">
              <i class="ion-trash-a"></i>
            </button>

            <!-- Boton para Calcular los Porcentajes Organizaciones  -->
            <button type="button" class="btn btn-outline-success btn-icon" (click)="calcularPercent()" nbPopover="Calcula el % de participacion de Organizaciones"
              nbPopoverMode="hint" nbPopoverPlacement="top">
              <i class="ion-calculator"></i>
            </button>

            <!-- Boton para Grabar Organizaciones  -->
            <button type="button" class="btn btn-outline-primary btn-icon" nbPopover="Registra el listado Administrador Financiero" nbPopoverMode="hint"
              nbPopoverPlacement="top" (click)="saveAdmonFinanciero()">
              <i class="ion-upload"></i>
            </button>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</p-fieldset>
