<!-- Maquetacion de los Objetivos de Vision País -->
<!-- Componente para los Mensajes en pantalla -->
<toaster-container [toasterconfig]="config"></toaster-container>

<!-- Agrupacion de la Informacion de Objetivos Vision de País -->
<p-fieldset legend="Vision de Pais" [toggleable]="true" class="fieldSet">
  <nb-card accent="warning" status="primary">
    <nb-card-body>
      <div class="row">
        <div class="col-sm-6">
          <h4>Selecciona los Objetivos | Visión de País</h4>
          <input type="text" class="form-control txtSearch" name="queryString" [(ngModel)]="queryString"
            placeholder="Buscar Vision Pais">
          <br>
          <p-tree [style]="{'width': '100%'}" [value]="filesTree4 | filter: queryString" selectionMode="checkbox"
            (onNodeUnselect)="nodeUnselect($event)"  (onNodeSelect)="nodeSelect($event)"
            dynamic="true"></p-tree>
        <br>
          <div>Objetivos Seleccionados: <span *ngFor="let file of selectedFiles2">{{file.parent.data}} </span></div>
        </div>

        <div class="col-sm-6">
          <h4>Objetivos de Visión de Pais seleccionados</h4>
          <p-listbox [options]="JsonSendProgramaVisionPaisOpciones" [style]="{'width': '100%'}"
            [(ngModel)]="selectedCities" multiple="multiple" filter="filter" optionLabel="name">
            <p-header>
              <i class="fa fa-file"></i>
              Confirma cuales datos Vision de Pais deben de registrarse...
            </p-header>
          </p-listbox>
          <p> <span *ngFor="let c of selectedCities" style="margin-right: 10px">{{c.name}}</span>
          </p>
          <hr>
          <div class="icon-button-examples">
            <!-- Boton de limpiar listado Vision Pais -->
            <button type="button" class="btn btn-outline-danger btn-icon" nbPopover="Limpia el listado de Vision Pais"
              nbPopoverMode="hint" nbPopoverPlacement="top" (click)="cleanProgramaVisionPais()">
              <i class="ion-trash-a"></i>
            </button>

            <!-- Boton para Calcular los Porcentajes de Vision Pais -->
            <button type="button" class="btn btn-outline-success btn-icon"
              nbPopover="Calcula el % de participacion de Vision Pais" nbPopoverMode="hint" nbPopoverPlacement="top">
              <i class="ion-calculator"></i>
            </button>

            <!-- Boton para Grabar objetivos Vision Pais -->
            <button type="button" class="btn btn-outline-primary btn-icon"
              nbPopover="Registra los objetivos de Vision Pais" nbPopoverMode="hint" nbPopoverPlacement="top"
              (click)="saveProgramaVisionPais()">
              <i class="ion-upload"></i>
            </button>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</p-fieldset>
